<section class="control pd1 prllx">
  <div class="control__container">
    <div class="heading__sec">
      <div class="heading__title">
        <h2 class="title2">
          Контроль<br />
          якості на нашому<br />
          виробництві
        </h2>
      </div>
      <div class="heading__desc colm1">
        <div class="txt-def1">
          <p>
            У виготовленні коробок ми орієнтуємось на якість, тому<br />
            кожен етап проходить з контролем:
          </p>
        </div>
      </div>
    </div>

    <div class="splide">
      <div class="splide__track">
        <ul class="splide__list prllx-list prllxT">
          <li class="splide__slide">
            <div class="card-def">
              <h4 class="title4">
                перевіряємо матеріали<br />
                на якість, щоб вони<br />
                відповідали не лише нормам<br />
                ДСТУ, а й міжнародним<br />
                стандартам ISO
              </h4>
              <div class="card-def__img">
                <img src="./img/icons/ico_39.svg" alt="" />
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="card-def">
              <h4 class="title4">
                контролюємо етап різки<br />
                матеріалу, щоб все<br />
                відповідало обраним<br />
                габаритам і формам
              </h4>
              <div class="card-def__img">
                <img src="./img/icons/ico_38.svg" alt="" />
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="card-def">
              <h4 class="title4">
                уважно складаємо<br />
                та склеюємо конструкції,<br />
                перевіряючи якість<br />
                склеювання
              </h4>
              <div class="card-def__img">
                <img src="./img/icons/ico_30.svg" alt="" />
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="card-def">
              <h4 class="title4">
                проводимо аналіз<br />
                чи відповідають вироби<br />
                усім параметрам, які<br />
                потрібні клієнту
              </h4>
              <div class="card-def__img">
                <img src="./img/icons/ico_29.svg" alt="" />
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="card-def">
              <h4 class="title4">
                тестуємо продукцію,<br />
                щоб вона коректно<br />
                відкривалась і міцно<br />
                тримала форму
              </h4>
              <div class="card-def__img">
                <img src="./img/icons/ico_10.svg" alt="" />
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="card-def">
              <h4 class="title4">
                оглядаємо вироби перед<br />
                відправленням, щоб готові<br />
                коробки в точності<br />
                відповідали затвердженому<br />
                макету та очікуванням
              </h4>
              <div class="card-def__img">
                <img src="./img/icons/ico_20.svg" alt="" />
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="slider-def__wrapp">
      <div class="progressbar">
        <div class="progressbar__thumb"></div>
      </div>
    </div>
  </div>
</section>
