<section class="control pd1">
  <div class="control__container">
    <div class="heading__sec">
      <div class="heading__title">
        <h2 class="title2">
          Контроль<br />
          якості на нашому<br />
          виробництві
        </h2>
      </div>
      <div class="heading__desc">
        <div class="txt-def1">
          <p>
            У виготовленні коробок ми орієнтуємось на якість, тому кожен етап
            проходить з контролем:
          </p>
        </div>
      </div>
    </div>

    <div class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <div class="card-def">
              <h4 class="title4">
                перевіряємо матеріали на якість, щоб вони відповідали не лише
                нормам ДСТУ, а й міжнародним стандартам ISO
              </h4>
              <div class="card-def__img">
                <img src="./img/icons/advan_1.svg" alt="" />
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="card-def">
              <h4 class="title4">
                контролюємо етап різки матеріалу, щоб все відповідало обраним
                габаритам і формам
              </h4>
              <div class="card-def__img">
                <img src="./img/icons/advan_2.svg" alt="" />
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="card-def">
              <h4 class="title4">
                уважно складаємо та склеюємо конструкції, перевіряючи якість
                склеювання
              </h4>
              <div class="card-def__img">
                <img src="./img/icons/advan_3.svg" alt="" />
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="card-def">
              <h4 class="title4">
                проводимо аналіз чи відповідають вироби усім параметрам, які
                потрібні клієнту
              </h4>
              <div class="card-def__img">
                <img src="./img/icons/advan_4.svg" alt="" />
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="card-def">
              <h4 class="title4">
                тестуємо продукцію, щоб вона коректно відкривалась і міцно
                тримала форму
              </h4>
              <div class="card-def__img">
                <img src="./img/icons/advan_5.svg" alt="" />
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="card-def">
              <h4 class="title4">
                оглядаємо вироби перед відправленням, щоб готові коробки в
                точності відповідали затвердженому макету та очікуванням
              </h4>
              <div class="card-def__img">
                <img src="./img/icons/advan_2.svg" alt="" />
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="slider-def__wrapp">
      <div class="progressbar">
        <div class="progressbar__thumb"></div>
      </div>
    </div>
  </div>
</section>
