<section class="materials pd1">
  <div class="constrct__container">
    <div class="sec-column">
      <div class="sec-column__info">
        <h2 class="title2">
          Які<br />
          матеріали<br />
          використовуємо
        </h2>

        <div class="sec-column__content">
          <div class="sec-column__box colm1">
            <div class="txt-def1">
              <p>
                У нас можна замовити коробки у різних<br />
                дизайнах, для яких застосовуємо<br />
                різноманітні матеріали.
              </p>
            </div>
          </div>
          <div class="sec-column__box">
            <div class="txt-def1">
              <p>
                У нас можна замовити коробки у<br />
                різних дизайнах, для яких<br />
                застосовуємо різноманітні матеріали.<br />
                Це можуть бути подарункові коробки<br />
                оптом з обклеєним текстурним та<br />
                кольоровим дизайнерським папером,<br />
                який створює естетичний зовнішній<br />
                вигляд. Деякі види дизайнерського<br />
                паперу є екологічними, адже<br />
                перероблені з вторинної сировини.
              </p>
            </div>
            <div class="txt-def1">
              <p>
                Також виготовляємо коробки з крафт-<br />картону, ламінованого і
                палітурного<br />
                картону товщиною 1,2-3 мм, щоб<br />
                забезпечити міцність та стійкість<br />
                конструкціям. Обираємо якісні<br />
                матеріали, які відповідають<br />
                стандартам ДСТУ і дозволяють<br />
                досягати бажаного результату.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="sec-column__img ibg no-select">
        <img class="lazyload" data-src="./img/content/matr_1.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
