<section class="materials pd1">
  <div class="constrct__container">
    <div class="sec-column">
      <div class="sec-column__info">
        <h2 class="title2">
          Які<br />
          матеріали<br />
          використовуємо
        </h2>

        <div class="sec-column__content">
          <div class="sec-column__box colm1">
            <div class="txt-def1">
              <p>
                У нас можна замовити коробки у різних дизайнах, для яких
                застосовуємо різноманітні матеріали.
              </p>
            </div>
          </div>
          <div class="sec-column__box">
            <div class="txt-def1">
              <p>
                У нас можна замовити коробки у різних дизайнах, для яких
                застосовуємо різноманітні матеріали. Це можуть бути подарункові
                коробки оптом з обклеєним текстурним та кольоровим дизайнерським
                папером, який створює естетичний зовнішній вигляд. Деякі види
                дизайнерського паперу є екологічними, адже перероблені з
                вторинної сировини.
              </p>
            </div>
            <div class="txt-def1">
              <p>
                Також виготовляємо коробки з крафт-картону, ламінованого і
                палітурного картону товщиною 1,2-3 мм, щоб забезпечити міцність
                та стійкість конструкціям. Обираємо якісні матеріали, які
                відповідають стандартам ДСТУ і дозволяють досягати бажаного
                результату.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="sec-column__img ibg no-select">
        <img src="./img/content/matr_1.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
