<section class="production-specific specific">
  <div class="specific__container">
    <div class="specific__body">
      <div class="specific__icon">
        <img class="lazyload" data-src="./img/icons/ico_4.svg" alt="" />
      </div>
      <h3 class="title3">
        Відправляємо замовлення по Києву власною<br />
        вантажівкою для великих тиражів чи<br />
        службою таксі, а також в Дніпро, Львів, Одесу,<br />
        Хмельницький чи інші міста України<br />
        і навіть в Європу
      </h3>
    </div>
  </div>
</section>
