<section class="production-advan advantage prllx">
  <div class="advantage__wrapp">
    <div class="advantage__container">
      <div class="heading__sec">
        <div class="heading__title">
          <h2 class="title2">
            Наші переваги<br />
            як партнера<br />
            та виробника
          </h2>
        </div>
      </div>

      <ul class="advantage__cards prllx-list prllxT">
        <li class="card-def">
          <p class="card-def__lead">Перевага 1</p>
          <h4 class="title4">
            Забезпечуємо повний цикл<br />
            виготовлення коробок від<br />
            підготовчих робіт до<br />
            завершального декорування<br />
            і пакування для відправки
          </h4>
          <div class="card-def__img">
            <img class="lazyload" data-src="./img/icons/ico_40.svg" alt="" />
          </div>
        </li>
        <li class="card-def">
          <p class="card-def__lead">Перевага 2</p>
          <h4 class="title4">
            Обираємо для роботи лише<br />
            якісні матеріали, які<br />
            відповідають вимогам ДСТУ<br />
            та міжнародним стандартам<br />
            якості ISO
          </h4>
          <div class="card-def__img">
            <img class="lazyload" data-src="./img/icons/ico_5.svg" alt="" />
          </div>
        </li>
        <li class="card-def">
          <p class="card-def__lead">Перевага 3</p>
          <h4 class="title4">
            Консультуємо та надаємо<br />
            розгорнуті відповіді на ваші<br />
            запитання щодо матеріалів,<br />
            термінів та інших деталей<br />
            виробництва
          </h4>
          <div class="card-def__img">
            <img class="lazyload" data-src="./img/icons/ico_29.svg" alt="" />
          </div>
        </li>
        <li class="card-def">
          <p class="card-def__lead">Перевага 4</p>
          <h4 class="title4">
            Контролюємо усі етапи<br />
            виробництва, зокрема ретельно<br />
            оглядаємо вироби перед<br />
            відправкою, щоб ви отримували<br />
            цілісні та якісні коробки для<br />
            пакування опт
          </h4>
          <div class="card-def__img">
            <img class="lazyload" data-src="./img/icons/ico_20.svg" alt="" />
          </div>
        </li>
        <li class="card-def">
          <p class="card-def__lead">Перевага 5</p>
          <h4 class="title4">
            Надсилаємо продукцію по<br />
            Києву і в будь-які міста –<br />
            Одесу, Львів, Вінницю, Дніпро<br />
            чи інший населений пункт<br />
            України, а також в Європу
          </h4>
          <div class="card-def__img">
            <img class="lazyload" data-src="./img/icons/ico_4.svg" alt="" />
          </div>
        </li>
        <li class="card-def card-red">
          <p class="card-def__lead">Безкоштовна консультація</p>
          <h4 class="title4">
            Виникли<br />
            запитання?
          </h4>
          <button
            type="button"
            class="btn-alt openModal"
            data-id="consultModal"
          >
            Задати
          </button>
          <div class="card-def__img">
            <img class="lazyload" data-src="./img/decor/advan_1.png" alt="" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
