<section class="production-desc descript pd1">
  <div class="descript__container">
    <div class="descript__content">
      <h3>«Якість у кожній коробці» та інші принципи нашого виробництва </h3>
      <p>
        Наша компанія спеціалізується на виробництві коробок для пакування
        продукції та подарунків. Забезпечуємо повний цикл виготовлення коробок
        від підготовки макетів і матеріалів до збірки готових конструкцій. У
        Boxes можна замовити коробки різні за формами, видами та дизайнами.
      </p>
      <h3>Які коробки ми виготовляємо</h3>
      <p>
        Картонні коробки – популярні конструкції для пакування різноманітної
        продукції власного виробництва чи торгових компаній. Їх використовують
        для упаковки продукції задля її збереження на складах, так і для її
        презентації при продажі. 
      </p>
      <p>
        Пакувати у картонні коробки можна будь-що – від одягу до кондитерських
        виробів, від невеликих аксесуарів і біжутерії до габаритних товарів на
        зразок побутової техніки. Яким би не був ваш товар, ви можете замовити
        коробки оптом потрібної форми та розмірів на нашому виробництві.
      </p>

      <div class="descript__box">
        <h3>«Якість у кожній коробці» та інші принципи нашого виробництва </h3>
        <p>
          Наша компанія спеціалізується на виробництві коробок для пакування
          продукції та подарунків. Забезпечуємо повний цикл виготовлення коробок
          від підготовки макетів і матеріалів до збірки готових конструкцій. У
          Boxes можна замовити коробки різні за формами, видами та дизайнами.
        </p>
        <h3>Які коробки ми виготовляємо</h3>
        <p>
          Картонні коробки – популярні конструкції для пакування різноманітної
          продукції власного виробництва чи торгових компаній. Їх використовують
          для упаковки продукції задля її збереження на складах, так і для її
          презентації при продажі. 
        </p>
        <p>
          Пакувати у картонні коробки можна будь-що – від одягу до кондитерських
          виробів, від невеликих аксесуарів і біжутерії до габаритних товарів на
          зразок побутової техніки. Яким би не був ваш товар, ви можете замовити
          коробки оптом потрібної форми та розмірів на нашому виробництві.
        </p>
      </div>

      <button type="button" class="btn-more">Більше</button>
    </div>
  </div>
</section>
