<section class="production fullscreen">
  <div class="fullscreen__wrapp">
    <div class="fullscreen__container">
      <div class="fullscreen__body">
        <div class="breadcrumbs">
          <ul>
            <li><a href="./index.html">Головна</a></li>
            <li><span>Портфоліо</span></li>
          </ul>
        </div>

        <h1 class="title1">
          Виробництво<br />
          картонних<br />
          коробок оптом
        </h1>

        <div class="fullscreen__box">
          <div class="txt-def1">
            <p>
              Виготовляємо якісні коробки різних<br />
              форм та моделей для усіх видів<br />
              продукції й подарунків
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="fullscreen__img no-select ibg">
      <img src="./img/content/hero_2.webp" alt="" />
    </div>
  </div>
</section>
