<section class="production-faq faq pd1">
  <div class="faq__container">
    <div class="heading__sec">
      <div class="heading__title">
        <h2 class="title2">
          Нас<br />
          часто запитують
        </h2>
      </div>
    </div>

    <div class="faq__wrapp">
      <ul class="faq__list">
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">У вас власне виробництво чи ви посередник?</h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">Які етапи виробництва коробок?</h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">
                Яке мінімальне замовлення у вас можна зробити?
              </h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">Скільки триває виготовлення коробок?</h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul class="faq__list">
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">Які коробки у вас можна замовити?</h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">
                Які додаткові послуги для оформлення коробок у вас можна
                замовити?
              </h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">
                Чи піклуються на вашому виробництві про екологічність?
              </h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">Чи гарантуєте ви якість своєї продукції?</h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <button type="button" class="btn-alt var2">Більше</button>
  </div>
</section>
