<section class="production-slider slider-def pd1">
  <div class="slider-def__container">
    <div class="heading__sec">
      <div class="heading__title">
        <h2 class="title2">
          Потужності<br />
          нашого<br />
          виробництва
        </h2>
      </div>
      <div class="heading__desc colm1">
        <div class="txt-def1">
          <p>
            Виробництво Boxes забезпечує виготовлення картонних коробок оптом.
            Ми виготовляємо коробки у будь-якій кількості
            <span>від 50 штук</span>, і не ставимо обмежень на максимальну
            кількість виробів.
            <span>Виготовлення переважно займає до 14 робочих днів</span>, за
            цей час в рамках одного замовлення
            <span>
              за цей час в рамках одного замовлення можемо підготувати близько
              3000 коробок за цей час в рамках одного замовлення </span
            >. Залежно від складності конструкцій обсяг може бути меншим чи
            більшим. Всі терміни обговорюємо під час оформлення замовлень і
            строго їх дотримуємось, щоб не порушувати зобов'язань.
          </p>
          <p>
            Будь-які побажання щодо меншої кількості коробок чи терміновості
            виготовлення розглядаємо та обговорюємо індивідуально, і намагаємось
            знайти оптимальні рішення під потреби клієнтів.
          </p>
        </div>
      </div>
    </div>

    <div class="slider-def__splide">
      <div class="splide">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img src="./img/content/slide_1.jpg" alt="" />
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img src="./img/content/slide_2.jpg" alt="" />
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img src="./img/content/slide_3.jpg" alt="" />
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img src="./img/content/slide_4.jpg" alt="" />
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img src="./img/content/slide_1.jpg" alt="" />
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img src="./img/content/slide_2.jpg" alt="" />
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img src="./img/content/slide_3.jpg" alt="" />
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img src="./img/content/slide_4.jpg" alt="" />
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img src="./img/content/slide_1.jpg" alt="" />
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img src="./img/content/slide_2.jpg" alt="" />
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img src="./img/content/slide_3.jpg" alt="" />
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img src="./img/content/slide_4.jpg" alt="" />
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img src="./img/content/slide_1.jpg" alt="" />
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img src="./img/content/slide_2.jpg" alt="" />
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img src="./img/content/slide_3.jpg" alt="" />
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img src="./img/content/slide_4.jpg" alt="" />
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="slider-def__wrapp onl-btn">
        <div class="arrows">
          <div class="arrows__body">
            <button type="button" class="arrows__prev"></button>
            <button type="button" class="arrows__next"></button>
          </div>
        </div>

        <div class="progressbar">
          <div class="progressbar__thumb"></div>
        </div>
      </div>
    </div>
  </div>
</section>
