<section class="stages pd1 prllx">
  <div class="stages__container">
    <div class="heading__sec">
      <div class="heading__title">
        <h2 class="title2">
          Етапи створення<br />
          коробок на нашому<br />
          виробництві
        </h2>
      </div>
      <div class="heading__desc">
        <div class="txt-def1">
          <p>
            Виробництво Boxes забезпечує весь цикл роботи над виготовленням
            картонних коробок:
          </p>
        </div>
      </div>
    </div>

    <div class="splide">
      <div class="splide__track">
        <ul class="splide__list prllx-list prllxS">
          <li class="splide__slide">
            <div class="card-def">
              <p class="card-def__lead">Етап 1</p>
              <h4 class="title4">Підготовка макетів та проєктування</h4>
              <div class="card-def__desc">
                <p>
                  Враховуємо усі розміри та побажання з дизайну, приймаємо в
                  роботу логотипи від замовників чи готові креслення і готуємо
                  макети з дотриманням вимог
                </p>
              </div>
              <div class="card-def__img">
                <img src="./img/icons/advan_1.svg" alt="" />
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="card-def">
              <p class="card-def__lead">Етап 2</p>
              <h4 class="title4">Підбір матеріалів</h4>
              <div class="card-def__desc">
                <p>
                  Обираємо якісний картон та папір, який відповідає нормам ДСТУ,
                  потрібній міцності та дизайнерському рішенню
                </p>
              </div>
              <div class="card-def__img">
                <img src="./img/icons/advan_2.svg" alt="" />
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="card-def">
              <p class="card-def__lead">Етап 3</p>
              <h4 class="title4">Розкрій та різка елементів конструкції</h4>
              <div class="card-def__desc">
                <p>
                  Завдяки спеціальному обладнанню наші фахівці нарізають
                  матеріал на потрібні форми й елементи
                </p>
              </div>
              <div class="card-def__img">
                <img src="./img/icons/advan_3.svg" alt="" />
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="card-def">
              <p class="card-def__lead">Етап 4</p>
              <h4 class="title4">Поліграфічні роботи</h4>
              <div class="card-def__desc">
                <p>
                  Виконуємо друк зображень чи нанесення логотипів методом
                  тиснення.
                </p>
              </div>
              <div class="card-def__img">
                <img src="./img/icons/advan_4.svg" alt="" />
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="card-def">
              <p class="card-def__lead">Етап 5</p>
              <h4 class="title4">Складання конструкції</h4>
              <div class="card-def__desc">
                <p>
                  Елементи формують до згину методом фальцювання та збирають
                  коробку, склеюючи її деталі в потрібних місцях.
                </p>
              </div>
              <div class="card-def__img">
                <img src="./img/icons/advan_5.svg" alt="" />
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="card-def">
              <p class="card-def__lead">Етап 6</p>
              <h4 class="title4">Підготовка макетів та проєктування</h4>
              <div class="card-def__desc">
                <p>
                  Кожен екземпляр партії перевіряють на якість і відповідність,
                  щоб кожна коробка для пакування відповідала вимогам та
                  параметрам. Перевірені вироби надійно упаковують і готують до
                  відправлення
                </p>
              </div>
              <div class="card-def__img">
                <img src="./img/icons/advan_2.svg" alt="" />
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="slider-def__wrapp">
      <div class="progressbar">
        <div class="progressbar__thumb"></div>
      </div>
    </div>
  </div>
</section>
