.stages {
  .heading__sec {
    margin-bottom: 0;
  }

  .card-def {
    min-height: 24.375rem;
    flex-basis: 100%;
    flex: 1 1 auto;

    .title4 {
      margin-bottom: 0;
      -webkit-line-clamp: 3;
    }
    &__desc {
      -webkit-line-clamp: 5;
    }
  }

  .splide {
    margin-top: -4rem;
  }
  .splide__list {
    display: flex !important;
    align-items: start;
    flex-wrap: wrap;
    gap: 1.5rem;

    .splide__slide {
      display: flex;
      flex-direction: column;
      min-height: 23.75rem;
      flex-basis: calc((100% - 2 * 1.5rem) / 3);
      &:nth-child(1) {
        margin-top: 10rem;
      }
      &:nth-child(2) {
        margin-top: 5rem;
      }
      &:nth-child(5) {
        margin-top: -5rem;
      }
      &:nth-child(6) {
        margin-top: -10rem;
      }
    }
  }

  .slider-def__wrapp {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .stages {
    .heading__sec {
      margin-bottom: 0.9375rem;
    }

    .card-def {
      min-height: auto;
      padding: 1.25rem 4.5rem 0.625rem 0.625rem;
    }

    .splide {
      margin-top: 0;
    }
    .splide__list {
      align-items: stretch;
      gap: 0.25rem;

      .splide__slide {
        min-height: 9.25rem;
        flex-basis: calc((100% - 1 * 0.25rem) / 2);
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(5),
        &:nth-child(6) {
          margin-top: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 775px) {
  .stages {
    .card-def {
      padding: 0.9375rem 4.5rem 0.625rem 0.625rem;
    }

    .splide__track {
      overflow: visible;
    }
    .splide__list {
      flex-wrap: nowrap;
      gap: 0;

      .splide__slide {
        flex-basis: auto;
      }
    }

    .slider-def__wrapp {
      display: flex;
    }
  }
}
