<header class="header">
  <div class="header__main">
    <div class="header__container">
      <div class="header__body">
        <a href="./index.html" class="custom-logo-link">
          <img src="./img/icons/logo_1.svg" alt="Logo" />
        </a>

        <load src="partials/header/parts/navmenu.html" />

        <div class="header__box">
          <address class="header__tel">
            <a href="tel:+380632653494">
              <span class="el-desc">+38 (063) 26 53 494</span>
              <span class="el-mob">
                <img src="./img/icons/tel.svg" alt="" />
              </span>
            </a>
          </address>

          <button
            type="button"
            class="btn-def openModal"
            data-id="consultModal"
          >
            <span class="el-desc">Отримати </span>розрахунок
          </button>

          <ul class="header__lang">
            <li
              id="menu-item-406"
              class="is-active pll-parent-menu-item menu-item menu-item-type-custom menu-item-object-custom current-menu-parent menu-item-has-children menu-item-406"
            >
              <a href="#">En</a>
              <ul class="sub-menu">
                <li
                  id="menu-item-406-en"
                  class="lang-item lang-item-5 lang-item-en current-lang lang-item-first menu-item menu-item-type-custom menu-item-object-custom current_page_item menu-item-home menu-item-406-en"
                >
                  <a href="#" hreflang="en-GB" lang="en-GB">Eng</a>
                </li>
                <li
                  id="menu-item-406-en"
                  class="lang-item lang-item-5 lang-item-en lang-item-first menu-item menu-item-type-custom menu-item-object-custom current_page_item menu-item-home menu-item-406-en"
                >
                  <a href="#" hreflang="en-GB" lang="en-GB">Укр</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <button type="button" class="burger">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </div>
  </div>

  <load src="partials/header/parts/mobmenu.html" />
</header>
