<section class="additional prllx pd1">
  <div class="additional__container">
    <div class="heading__sec">
      <div class="heading__title">
        <h2 class="title2">
          Додаткові<br />
          послуги
        </h2>
      </div>
    </div>

    <ul class="additional__cards prllx-list prllxS">
      <li class="card-addit">
        <div class="card-addit__img ibg">
          <img src="./img/content/addit_1.webp" alt="" />
        </div>
        <div class="card-addit__box">
          <a href="./service.html" class="title3 tl-cw">Каширування</a>
          <div class="card-addit__info">
            <p>Мистецтво в кожній деталі</p>
          </div>
        </div>
      </li>
      <li class="card-addit">
        <div class="card-addit__img ibg">
          <img src="./img/content/addit_2.webp" alt="" />
        </div>
        <div class="card-addit__box">
          <a href="./service.html" class="title3 tl-cw">
            Висічка<br />
            тигельним пресом
          </a>
          <div class="card-addit__info">
            <p>
              Якісне та універсальне рішення<br />
              для вашого бізнесу
            </p>
          </div>
        </div>
      </li>
      <li class="card-addit">
        <div class="card-addit__img ibg">
          <img src="./img/content/addit_3.webp" alt="" />
        </div>
        <div class="card-addit__box">
          <a href="./service.html" class="title3 tl-cw">
            Шовко-трафаретний друк
          </a>
          <div class="card-addit__info">
            <p>Мистецтво в кожній деталі</p>
          </div>
        </div>
      </li>
      <li class="card-addit">
        <div class="card-addit__img ibg">
          <img src="./img/content/addit_4.webp" alt="" />
        </div>
        <div class="card-addit__box">
          <a href="./service.html" class="title3 tl-cw">Цифровий друк</a>
          <div class="card-addit__info">
            <p>
              Технологічний прогрес не стоїть<br />
              на місці, це стосується і мистецтва<br />
              друку
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
