<div class="banner pd1">
  <div class="banner__carousell">
    <ul class="banner__list">
      <li class="banner__item">
        <div class="banner__logo">
          <img class="lazyload" data-src="./img/icons/logo_2.svg" alt="" />
        </div>
        <div class="banner__name">
          <img class="lazyload" data-src="./img/decor/box.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__logo">
          <img class="lazyload" data-src="./img/icons/logo_2.svg" alt="" />
        </div>
        <div class="banner__name">
          <img class="lazyload" data-src="./img/decor/box.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__logo">
          <img class="lazyload" data-src="./img/icons/logo_2.svg" alt="" />
        </div>
        <div class="banner__name">
          <img class="lazyload" data-src="./img/decor/box.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__logo">
          <img class="lazyload" data-src="./img/icons/logo_2.svg" alt="" />
        </div>
        <div class="banner__name">
          <img class="lazyload" data-src="./img/decor/box.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__logo">
          <img class="lazyload" data-src="./img/icons/logo_2.svg" alt="" />
        </div>
        <div class="banner__name">
          <img class="lazyload" data-src="./img/decor/box.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__logo">
          <img class="lazyload" data-src="./img/icons/logo_2.svg" alt="" />
        </div>
        <div class="banner__name">
          <img class="lazyload" data-src="./img/decor/box.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__logo">
          <img class="lazyload" data-src="./img/icons/logo_2.svg" alt="" />
        </div>
        <div class="banner__name">
          <img class="lazyload" data-src="./img/decor/box.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__logo">
          <img class="lazyload" data-src="./img/icons/logo_2.svg" alt="" />
        </div>
        <div class="banner__name">
          <img class="lazyload" data-src="./img/decor/box.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__logo">
          <img class="lazyload" data-src="./img/icons/logo_2.svg" alt="" />
        </div>
        <div class="banner__name">
          <img class="lazyload" data-src="./img/decor/box.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__logo">
          <img class="lazyload" data-src="./img/icons/logo_2.svg" alt="" />
        </div>
        <div class="banner__name">
          <img class="lazyload" data-src="./img/decor/box.png" alt="" />
        </div>
      </li>
    </ul>
  </div>
</div>
