<div class="banner pd1">
  <!--  data-speed - швидкість carousell  -->
  <div class="banner__carousell" data-speed="3">
    <ul class="banner__list carsePartF">
      <li class="banner__item">
        <div class="banner__logo">
          <img src="./img/icons/logo_2.svg" alt="" />
        </div>
        <div class="banner__name">
          <img src="./img/decor/box.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__logo">
          <img src="./img/icons/logo_2.svg" alt="" />
        </div>
        <div class="banner__name">
          <img src="./img/decor/box.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__logo">
          <img src="./img/icons/logo_2.svg" alt="" />
        </div>
        <div class="banner__name">
          <img src="./img/decor/box.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__logo">
          <img src="./img/icons/logo_2.svg" alt="" />
        </div>
        <div class="banner__name">
          <img src="./img/decor/box.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__logo">
          <img src="./img/icons/logo_2.svg" alt="" />
        </div>
        <div class="banner__name">
          <img src="./img/decor/box.png" alt="" />
        </div>
      </li>
    </ul>

    <ul class="banner__list carsePartS">
      <li class="banner__item">
        <div class="banner__logo">
          <img src="./img/icons/logo_2.svg" alt="" />
        </div>
        <div class="banner__name">
          <img src="./img/decor/box.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__logo">
          <img src="./img/icons/logo_2.svg" alt="" />
        </div>
        <div class="banner__name">
          <img src="./img/decor/box.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__logo">
          <img src="./img/icons/logo_2.svg" alt="" />
        </div>
        <div class="banner__name">
          <img src="./img/decor/box.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__logo">
          <img src="./img/icons/logo_2.svg" alt="" />
        </div>
        <div class="banner__name">
          <img src="./img/decor/box.png" alt="" />
        </div>
      </li>
      <li class="banner__item">
        <div class="banner__logo">
          <img src="./img/icons/logo_2.svg" alt="" />
        </div>
        <div class="banner__name">
          <img src="./img/decor/box.png" alt="" />
        </div>
      </li>
    </ul>
  </div>
</div>
