<div class="gallery" id="galleryModal">
  <div class="gallery__container containerModal">
    <div class="gallery__body">
      <button type="button" class="gallery__close closeModal"></button>

      <div class="gallery__wrapp">
        <div class="splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <div class="ibg">
                  <img
                    class="lazyload"
                    data-src="./img/content/case_1.jpg"
                    alt=""
                  />
                </div>
              </li>
              <li class="splide__slide">
                <div class="ibg">
                  <img
                    class="lazyload"
                    data-src="./img/content/case_2.jpg"
                    alt=""
                  />
                </div>
              </li>
              <li class="splide__slide">
                <div class="ibg">
                  <img
                    class="lazyload"
                    data-src="./img/content/case_3.jpg"
                    alt=""
                  />
                </div>
              </li>
              <li class="splide__slide">
                <div class="ibg">
                  <img
                    class="lazyload"
                    data-src="./img/content/case_4.jpg"
                    alt=""
                  />
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="slider-def__wrapp onl-btn">
          <div class="arrows">
            <div class="arrows__body">
              <button
                type="button"
                class="arrows__prev"
                aria-label="Arrows prev"
              ></button>
              <button
                type="button"
                class="arrows__next"
                aria-label="Arrows next"
              ></button>
            </div>
          </div>

          <div class="progressbar">
            <div class="progressbar__thumb"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
