<section class="ourcont mr1 sec-br prllx">
  <div class="sec-br__wrapp">
    <div class="ourcont__top">
      <div class="ourcont__container">
        <div class="ourcont__box">
          <div class="heading__sec">
            <div class="heading__title">
              <h2 class="title2">
                Наші<br />
                контакти
              </h2>
            </div>
            <div class="heading__desc colm1">
              <div class="txt-def1">
                <p>
                  Напишіть нам в телеграм, щоб обговорити деталі<br />
                  дизайну коробок та замовити виготовлення з<br />
                  кашируванням й іншими послугами.
                </p>
              </div>
            </div>
          </div>

          <ul class="ourcont__cards prllx-list prllxF">
            <li class="cards-cont">
              <span class="cards-cont__icon no-select">
                <img class="lazyload" data-src="./img/icons/ico_2.svg" alt="" />
              </span>
              <address class="cards-cont__address">
                <p class="cards-cont__name">Телефонуйте за номером</p>
                <a href="tel:+380632653494" class="cards-cont__link">
                  +38 (063) 265 34 94
                </a>
                <div class="cards-cont__box">
                  <p>
                    Або напишіть<br />
                    нам в меседжер
                  </p>
                  <ul>
                    <li>
                      <a
                        href="#"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-level="Social network Messenger"
                      >
                        <img
                          class="lazyload"
                          data-src="./img/icons/soc_6.svg"
                          alt=""
                        />
                      </a>
                    </li>
                    <li>
                      <a
                        href="#"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-level="Social network Viber"
                      >
                        <img
                          class="lazyload"
                          data-src="./img/icons/soc_7.svg"
                          alt=""
                        />
                      </a>
                    </li>
                    <li>
                      <a
                        href="#"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-level="Social network Telegram"
                      >
                        <img
                          class="lazyload"
                          data-src="./img/icons/soc_8.svg"
                          alt=""
                        />
                      </a>
                    </li>
                  </ul>
                </div>
              </address>
            </li>
            <li class="cards-cont">
              <span class="cards-cont__icon no-select">
                <img
                  class="lazyload"
                  data-src="./img/icons/ico_13.svg"
                  alt=""
                />
              </span>
              <address class="cards-cont__address">
                <p class="cards-cont__name">Завітайте в офіс</p>
                <a
                  href="https://maps.app.goo.gl/EYGM63bThMG6ASKdA"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="cards-cont__link"
                >
                  м.Київ,<br />
                  вул. Деревообробна 4
                </a>
                <div class="cards-cont__box">
                  <p>Пн. - Пт. з 09:00 до 18:00 год</p>
                </div>
              </address>
            </li>
            <li class="cards-cont">
              <span class="cards-cont__icon no-select">
                <img
                  class="lazyload"
                  data-src="./img/icons/ico_22.svg"
                  alt=""
                />
              </span>
              <address class="cards-cont__address">
                <p class="cards-cont__name">Напишіть нам</p>
                <a
                  href="mailto:info@boxes.in.ua"
                  target="_blank"
                  class="cards-cont__link"
                >
                  info@boxes.in.ua
                </a>
                <div class="cards-cont__box">
                  <p>Відповімо на всі ваші запитання</p>
                </div>
              </address>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="ourcont__bottom">
      <div class="ourcont__container">
        <div class="ourcont__wrapp">
          <h2 class="title2">
            Ми завжди на зв'язку,<br />
            проконсультуємо<br />
            та підберемо найкращі рішення<br />
            для вашого проєкту
          </h2>
          <button
            type="button"
            class="btn-def openModal"
            data-id="consultModal"
          >
            Отримати розрахунок
          </button>
          <div class="ourcont__desc">
            <p>
              Надіславши цей запит, Ви надаєте згоду на збір, обробку<br />
              та зберігання Ваших персональних даних
            </p>
          </div>
        </div>
      </div>
      <div class="ourcont__vector no-select">
        <img class="lazyload" data-src="./img/decor/cont_vec.svg" alt="" />
      </div>
    </div>
  </div>
</section>
