<section class="ourcont">
  <div class="ourcont__top">
    <div class="ourcont__container">
      <div class="heading__sec">
        <h2 class="title2">Наші контакти</h2>
        <div class="heading__desc">
          <div>
            <p>
              Компанія Boxes забезпечує повний цикл виготовлення картонних
              коробок.
            </p>
          </div>
          <div>
            <p>
              Наше виробництво дозволяє нам створювати індивідуальні коробки
              високої якості, адже ми уважні до деталей, чітко налагодили всі
              процеси та відповідально контролюємо їх.
            </p>
            <p>Кожен етап супроводжується контролем якості:</p>
          </div>
        </div>
      </div>

      <ul class="ourcont__cards">
        <li class="cards-cont">
          <span class="cards-cont__icon">
            <img src="./img/icons/" alt="" />
          </span>
          <address class="cards-cont__address">
            <p class="cards-cont__name"></p>
            <a href="" class="cards-cont__link"></a>
            <div class="cards-cont__box">
              <p></p>
              <ul>
                <li>
                  <a
                    href="#"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                <img src="./img/icons/" alt=""></a>
                </li>
              </ul>
            </div>
          </address>
        </li>
      </ul>
    </div>
  </div>
  <div class="ourcont__bottom">
    <div class="ourcont__container"></div>
  </div>
</section>
