<section class="ways pd1">
  <div class="ways__container">
    <div class="heading__sec">
      <div class="heading__title">
        <h2 class="title2">Способи доставки</h2>
      </div>
    </div>

    <ul class="ways__cards">
      <li class="card-def">
        <h4 class="title4">Службою таксі</h4>
        <div class="card-def__img">
          <img src="./img/icons/advan_1.svg" alt="" />
        </div>
      </li>
      <li class="card-def">
        <h4 class="title4">Нашою власною вантажівкою для великих тиражів</h4>
        <div class="card-def__img">
          <img src="./img/icons/advan_2.svg" alt="" />
        </div>
      </li>
      <li class="card-def">
        <h4 class="title4">Службами доставки</h4>
        <div class="card-def__desc">
          <p>
            По Україні надсилаємо замовлення Новою поштою або іншими службами
            доставки, які зручні клієнту.
          </p>
          <p>
            Також відправляємо замовлення в будь-яке місто Європи – Новою
            поштою, логістичною компанією Ін-Тйм чи іншими міжнародними
            перевізниками.
          </p>
        </div>
        <div class="card-def__img">
          <img src="./img/icons/advan_3.svg" alt="" />
        </div>
      </li>
      <li class="card-def">
        <h4 class="title4">
          Самовивозом з нашого офісу за адресою м.Київ, вулиця Деревообробна, 4
        </h4>
        <div class="card-def__desc">
          <p>
            Для самовивозу важливо узгодити час приїзду з менеджером, щоб всі
            коробки були підготовлені й ми допомогли їх завантажити. Працюємо з
            понеділка по п'ятницю з 09:00 до 18:00.
          </p>
        </div>
        <div class="card-def__img">
          <img src="./img/icons/advan_4.svg" alt="" />
        </div>
      </li>
      <li class="card-def">
        <h4 class="title4">
          Вартість доставки не включена в ціну на виготовлення коробок і
          залежатиме від обраного способу доставки. В середньому по Україні
          вартість доставки становить від 200 грн до 2000 грн в середньому на
          великі партії. Термін доставки 1-3 дні, залежно від віддаленості
          міста. 
        </h4>
        <div class="card-def__img">
          <img src="./img/icons/advan_5.svg" alt="" />
        </div>
      </li>
    </ul>
  </div>
</section>
