html,
body {
  font-optical-sizing: auto;
  font-family: var(--Gunterz);
  background-color: var(--cw);
  color: var(--cm);
  font-size: 1rem;
  line-height: 1.35;
}

.overhide {
  overflow: hidden;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

.main {
  flex: 1 1 auto;
  padding-bottom: 8.125rem;
}

[class*="__container"] {
  max-width: 102.5rem;
  padding: 0 2.5em;
  margin: 0 auto;
}

/* --------- Adaptive desktop (1900px) --------- */

@media screen and (max-width: 1900px) {
  html,
  body {
    font-size: 0.84vw;
  }
}

/* --------- Adaptive tablet (960px) --------- */

@media screen and (max-width: 960px) {
  html,
  body {
    font-size: 16px;
  }

  [class*="__container"] {
    padding: 0 1em;
  }

  .main {
    padding-bottom: 2.5rem;
  }
}

/* --------- Adaptive mobile (500px) --------- */

@media screen and (max-width: 500px) {
  html,
  body {
    font-size: 16px;
  }
}

/* --------- Adaptive mobile (375px) --------- */

@media screen and (max-width: 375px) {
  html,
  body {
    font-size: 4.27vw;
  }
}
