<section class="policy anagraph">
  <div class="anagraph__container">
    <div class="anagraph__hero">
      <div class="breadcrumbs st-bl">
        <ul>
          <li><a href="./index.html">Головна</a></li>
          <li>
            <span>Політика конфіденційності</span>
          </li>
        </ul>
      </div>

      <h1 class="title1">
        Політика<br />
        конфіденційності
      </h1>
    </div>
  </div>

  <div class="anagraph__container">
    <div class="anagraph__body">
      <div class="anagraph__row">
        <div>
          <p>
            Картонні коробочки для флешок стали невід’ємною частиною
            корпоративної культури, а також не менш популярними серед
            організаторів івентів, та фотографів.
          </p>
        </div>
        <div>
          <p>
            Уся інформація, розміщена на сайті, включаючи дані заявок клієнтів,
            обробляється та зберігається на виділеному сервері нашого підрядника
            і повністю захищена законом України "Про захист персональних даних".
            Ця Політика поширюється ЛИШЕ на інформацію, зібрану на нашому
            вебсайті boxes.in.ua, ми не несемо відповідальності за політику
            конфіденційності або зміст вебсайт третіх сторін, якщо ви з якихось
            причин перейшли на них з нашого сайту або соціальних мереж.
          </p>
        </div>
      </div>
      <div class="anagraph__row">
        <div><h2>Загальна інформація щодо обробки особистих даних</h2></div>
        <div>
          <p>
            У цій заяві про конфіденційність під "особистими даними" розуміється
            будь-яка інформація, що стосується фізичної особи, яку можна
            ідентифікувати безпосередньо чи опосередковано, зокрема за допомогою
            сторонніх ідентифікаторів, таких як ім'я, ідентифікаційний номер,
            місцеперебування або онлайн-ідентифікатор (псевдонім в соціальних
            мережах та месенджерах) або номер мобільного телефону абонента. 
          </p>
          <p>
            Особисті дані також можуть охоплювати один або кілька факторів,
            специфічних для фізичної, генетичної, розумової, економічної та
            інших ідентичностей особистості. Збір та відповідальність за такі
            дані здійснюють безпосередньо сервіси, належать третім сторонам -
            Google LLC та Meta Platforms, Inc. (попередня назва Facebook Inc.)
          </p>
        </div>
      </div>
      <div class="anagraph__row">
        <div><h2>Особливі категорії особистих даних</h2></div>
        <div>
          <ul>
            <li>Расова або етнічна належність;</li>
            <li>Політичні погляди;</li>
            <li>Релігійні або філософські переконання;</li>
            <li>Біометричні дані;</li>
            <li>Фізичний або психічний стан здоров'я;</li>
            <li>Сексуальна орієнтація та вподобання тощо.</li>
          </ul>
          <p>
            Особисті дані, які збирають інтегровані сервіси та плагіни
            соціальних мереж Google LLC та Meta Platforms, Inc. на нашому сайті,
            стосовно вас та ваших дій під час відвідування нашого вебсайту,
            поділяються на категорії. 
          </p>
          <p>
            Ми збираємо особисті дані, які ви надаєте через наш вебсайт,
            безпосередньо заповнюючи онлайн-форми зв'язку, підписуючися на
            розсилки та маркетингову інформацію від нас, беручи участь в
            опитуваннях або звертаючись до компанії у соціальних мережах,
            реєструючи заявки за телефоном.
          </p>
          <h4>Інформація, яку ми збираємо про вас, включає наступне</h4>
          <ul>
            <li>Ім'я;</li>
            <li>Посада;</li>
            <li>Компанія або організація;</li>
            <li>
              Контактна інформація, зокрема електронна пошта, адреса юридичної
              особи, поштовий та телефонні номери;
            </li>
            <li>Демографічна інформація;</li>
            <li>Поштовий індекс;</li>
            <li>Інформація, необхідна для надання вам послуг;</li>
            <li>
              Будь-які інші особисті дані, які ви добровільно надаєте нам.
            </li>
          </ul>
          <p>
            <span>МИ НЕ ЗБИРАЄМО СПЕЦІАЛЬНІ КАТЕГОРІЇ ОСОБИСТИХ ДАНИХ</span>,
            якщо ви не надаєте нам такі дані. Ми не маємо наміру обробляти
            чутливу інформацію, і ви не зобов'язані її надавати в полях для
            довільного тексту. Однак, якщо ви все ж вирішите надати яку-небудь
            чутливу особисту інформацію таким чином, ви підтверджуєте свою згоду
            на збір та обробку таких даних. Під час реєстрації заявки на
            зворотний зв'язок, за замовчуванням ви надаєте згоду на збір,
            обробку та зберігання даних, необхідних для обробки вашого
            замовлення.
          </p>
        </div>
      </div>
      <div class="anagraph__row">
        <div><h2>Автоматично зібрана інформація</h2></div>
        <div>
          <p>
            Під час відвідування нашого вебсайту ми автоматично збираємо певні
            особисті дані з вашого пристрою. Зокрема, автоматично зібрані дані
            включають: вашу IP-адресу, тип пристрою, унікальний ідентифікаційний
            номер пристрою (IMEI), тип браузера, тип операційної системи,
            загальні дані про географічне розташування (наприклад, країна або
            місто) на основі даних вашого провайдера інтернету та іншу технічну
            інформацію.
          </p>
          <p>
            Ми також збираємо інформацію про те, як ваш пристрій взаємодіяв з
            нашим вебсайтом, включаючи переглянуті сторінки, поточну URL адресу,
            час відвідування сайту та переходи за внутрішніми посиланнями. Збір
            цієї інформації дозволяє нам краще розуміти потенційних клієнтів і
            шляхи, якими вони приходять на наш вебсайт, який контент/продукт
            цікавить їх.
          </p>
          <p>
            Ця інформація використовується виключно для внутрішнього аналізу та
            покращення якості послуг. Компанія може збирати звітну та аналітичну
            інформацію від третіх осіб щодо вашого використання наших послуг.
            Інформація буде збиратися за допомогою файлів cookie та подібних
            технологій відстеження, таких як Google Tag Manager, Google
            Analytics, Meta Pixel та інші.
          </p>
          <h4>Дані допомагають</h4>
          <ul>
            <li>Діагностувати та розв'язувати технічні проблеми;</li>
            <li>Покращувати сервіс та електронні послуги/ресурси компанії;</li>
            <li>
              Надавати вам інформацію, продукти або послуги, які ви від нас
              запитуєте;
            </li>
            <li>Сповіщати вас про зміни в роботі підприємства;</li>
            <li>
              Покращувати ваш досвід роботи з контентом як підписників
              інформаційних бюлетенів, якщо такі будуть введені в компанії*.
            </li>
          </ul>
          <p>
            Особисті дані зберігаються протягом необхідного терміну відповідно
            до цілей їх обробки.
          </p>
          <p>
            Компанія Boxes гарантує, що ми не будемо продавати або здавати в
            оренду особисті дані користувачів третім сторонам. Виняток можуть
            складати лише вимоги представників державної влади, коли розкриття
            ваших особистих даних є необхідним для виконання вимог чинного
            законодавства України. Проте такі запити повинні бути оформлені
            належним чином та підкріплені рішенням судової інстанції.
          </p>
          <p>
            Компанія може надавати вашу інформацію стороннім постачальникам,
            чиїми послугами користуємося ми або клієнт. Це можуть бути
            аналітика, обробка платежів, хостинг, моніторинг, обслуговування
            клієнтів, доставка логістичними службами та інші послуги. У цьому
            випадку на постачальників поширюються правила внутрішньої політики
            конфіденційності нашої компанії.
          </p>
          <p>
            <span>
              Boxes може розкривати АНОНІМНІ АГРЕГОВАНІ ДАНІ стороннім
              партнерам, включаючи рекламодавців.
            </span>
            Ці дані не містять вашої особистої інформації.
          </p>
          <p>
            Будь ласка, уважно ознайомтеся з цими положеннями політик компанії
            про конфіденційність, оскільки, якщо ви не згодні з нашими
            політиками та практиками, ви не повинні користуватися послугами
            Boxes. Використовуючи сайт та інші послуги Boxes, ви погоджуєтеся з
            нашими практиками конфіденційності. Ця декларація політики може
            періодично оновлюватися, щоб відображати зміни в наших практиках зі
            збору, використання або розкриття особистих даних.
          </p>
          <p>
            Ми приймаємо всі розумні заходи для захисту особистої інформації від
            несанкціонованого доступу, використання, або розкриття. Однак,
            ніякий метод передачі даних через інтернет, або методи електронного
            зберігання даних не є на 100% безпечними. Таким чином, ми не можемо
            гарантувати абсолютну безпеку вашої інформації, якщо передача даних
            відбулася через незахищені канали зв'язку. Наприклад, ми не несемо
            відповідальності за розкриття інформації, що відбулося з вини вашого
            інтернет-провайдера/оператора зв'язку.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
