<footer class="footer">
  <div class="footer__top">
    <div class="footer__container">
      <address class="footer__address">
        <div class="footer__contact">
          <p>Адрес</p>
          <a
            href="https://maps.app.goo.gl/EYGM63bThMG6ASKdA"
            target="_blank"
            rel="noopener noreferrer"
          >
            м. Київ, вул. Деревообробна 4
          </a>
          <span>Пн. - Пт. з 09:00 до 18:00 год</span>
        </div>
        <div class="footer__contact">
          <p>Телефон</p>
          <a href="tel:+380632653494">+38 (063) 26 53 494</a>
        </div>
        <div class="footer__contact">
          <p>Або напишіть нам в меседжер</p>
          <ul>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                Massander
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">Telegram</a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">Viber</a>
            </li>
          </ul>
        </div>
      </address>

      <ul class="footer__list">
        <li class="menu-item menu-item-has-children">
          <p>Інфо</p>
          <ul class="sub-menu">
            <li class="menu-item">
              <a href="#">Виробництво</a>
            </li>
            <li class="menu-item">
              <a href="./portfolio.html">Портфоліо</a>
            </li>
            <li class="menu-item">
              <a href="./delivery.html">Доставка</a>
            </li>
            <li class="menu-item">
              <a href="./payment.html">Оплата</a>
            </li>
            <li class="menu-item">
              <a href="./guarantees.html">Гарантії</a>
            </li>
            <li class="menu-item">
              <a href="./blog.html">блог</a>
            </li>
            <li class="menu-item">
              <a href="./policy.html">Конфіденційність</a>
            </li>
          </ul>
        </li>
        <li class="menu-item menu-item-has-children">
          <p>Коробки</p>
          <ul class="sub-menu">
            <li class="menu-item">
              <a href="./assortment.html">кришка-дно</a>
            </li>
            <li class="menu-item">
              <a href="./assortment.html">на магнітах</a>
            </li>
            <li class="menu-item">
              <a href="./assortment.html">Самозбірні коробки</a>
            </li>
            <li class="menu-item">
              <a href="./assortment.html">на стрічках</a>
            </li>
            <li class="menu-item">
              <a href="./assortment.html">Висувні</a>
            </li>
            <li class="menu-item">
              <a href="./assortment.html">Капелюшні</a>
            </li>
            <li class="menu-item">
              <a href="./assortment.html">Коробки Ego</a>
            </li>
          </ul>
        </li>
        <li class="menu-item menu-item-has-children">
          <p>Послуги</p>
          <ul class="sub-menu">
            <li class="menu-item">
              <a href="./service.html">Каширування</a>
            </li>
            <li class="menu-item">
              <a href="./service.html">Висічка тигельним пресом</a>
            </li>
            <li class="menu-item">
              <a href="./service.html">Шовкотрафаретний друк</a>
            </li>
            <li class="menu-item">
              <a href="./service.html">Цифровий друк</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer__img no-select">
    <img src="./img/decor/footer_box.svg" alt="" />
  </div>

  <div class="footer__bottom">
    <div class="footer__container">
      <a href="./index.html" class="custom-logo-link">
        <img src="./img/icons/logo_2.svg" alt="Logo" />
      </a>
      <ul class="footer__soc">
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer">
            <img src="./img/icons/soc_1.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer">
            <img src="./img/icons/soc_2.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer">
            <img src="./img/icons/soc_4.svg" alt="" />
          </a>
        </li>
        <li>
          <a href="#" target="_blank" rel="noopener noreferrer">
            <img src="./img/icons/soc_5.svg" alt="" />
          </a>
        </li>
      </ul>
      <p>© 2024 всі права захищені. Boxes.</p>
    </div>
  </div>
</footer>
