<section class="onecase-finish slider-def slider-hover pd1">
  <div class="slider-def__container">
    <div class="heading__sec">
      <div class="heading__title">
        <h2 class="title2">
          А ось<br />
          ще деякі приклади
        </h2>
      </div>
    </div>

    <div class="slider-def__splide">
      <div class="splide">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img
                  class="lazyload"
                  data-src="./img/content/finish_1.jpg"
                  alt=""
                />
                <div class="slider-def__content">
                  <a href="./onecase.html" class="title3">The box</a>
                  <div class="slider-def__box">
                    <div class="slider-def__desc">
                      <p>Кришка-дно</p>
                    </div>
                    <a href="./onecase.html" class="btn-alt">Переглянути</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img
                  class="lazyload"
                  data-src="./img/content/finish_2.jpg"
                  alt=""
                />
                <div class="slider-def__content">
                  <a href="./onecase.html" class="title3">entr</a>
                  <div class="slider-def__box">
                    <div class="slider-def__desc">
                      <p>Кришка-дно</p>
                    </div>
                    <a href="./onecase.html" class="btn-alt">Переглянути</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img
                  class="lazyload"
                  data-src="./img/content/finish_3.jpg"
                  alt=""
                />
                <div class="slider-def__content">
                  <a href="./onecase.html" class="title3">numi kyiv</a>
                  <div class="slider-def__box">
                    <div class="slider-def__desc">
                      <p>Кришка-дно</p>
                    </div>
                    <a href="./onecase.html" class="btn-alt">Переглянути</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img
                  class="lazyload"
                  data-src="./img/content/finish_4.jpg"
                  alt=""
                />
                <div class="slider-def__content">
                  <a href="./onecase.html" class="title3">sweret atelier</a>
                  <div class="slider-def__box">
                    <div class="slider-def__desc">
                      <p>Кришка-дно</p>
                    </div>
                    <a href="./onecase.html" class="btn-alt">Переглянути</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img
                  class="lazyload"
                  data-src="./img/content/finish_5.jpg"
                  alt=""
                />
                <div class="slider-def__content">
                  <a href="./onecase.html" class="title3">nemiroff</a>
                  <div class="slider-def__box">
                    <div class="slider-def__desc">
                      <p>Кришка-дно</p>
                    </div>
                    <a href="./onecase.html" class="btn-alt">Переглянути</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img
                  class="lazyload"
                  data-src="./img/content/finish_1.jpg"
                  alt=""
                />
                <div class="slider-def__content">
                  <a href="./onecase.html" class="title3">The box</a>
                  <div class="slider-def__box">
                    <div class="slider-def__desc">
                      <p>Кришка-дно</p>
                    </div>
                    <a href="./onecase.html" class="btn-alt">Переглянути</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img
                  class="lazyload"
                  data-src="./img/content/finish_2.jpg"
                  alt=""
                />
                <div class="slider-def__content">
                  <a href="./onecase.html" class="title3">entr</a>
                  <div class="slider-def__box">
                    <div class="slider-def__desc">
                      <p>Кришка-дно</p>
                    </div>
                    <a href="./onecase.html" class="btn-alt">Переглянути</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img
                  class="lazyload"
                  data-src="./img/content/finish_3.jpg"
                  alt=""
                />
                <div class="slider-def__content">
                  <a href="./onecase.html" class="title3">numi kyiv</a>
                  <div class="slider-def__box">
                    <div class="slider-def__desc">
                      <p>Кришка-дно</p>
                    </div>
                    <a href="./onecase.html" class="btn-alt">Переглянути</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img
                  class="lazyload"
                  data-src="./img/content/finish_4.jpg"
                  alt=""
                />
                <div class="slider-def__content">
                  <a href="./onecase.html" class="title3">sweret atelier</a>
                  <div class="slider-def__box">
                    <div class="slider-def__desc">
                      <p>Кришка-дно</p>
                    </div>
                    <a href="./onecase.html" class="btn-alt">Переглянути</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img
                  class="lazyload"
                  data-src="./img/content/finish_5.jpg"
                  alt=""
                />
                <div class="slider-def__content">
                  <a href="./onecase.html" class="title3">nemiroff</a>
                  <div class="slider-def__box">
                    <div class="slider-def__desc">
                      <p>Кришка-дно</p>
                    </div>
                    <a href="./onecase.html" class="btn-alt">Переглянути</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="slider-def__wrapp">
        <div class="arrows">
          <div class="arrows__body">
            <button type="button" class="arrows__prev"></button>
            <button type="button" class="arrows__next"></button>
          </div>
        </div>

        <div class="progressbar">
          <div class="progressbar__thumb"></div>
        </div>

        <a href="./portfolio.html" class="btn-alt var3">Перейти в портфоліо</a>
      </div>
    </div>
  </div>
</section>
