<section class="onecase">
  <div class="onecase__container">
    <div class="onecase__body">
      <div class="breadcrumbs st-bl">
        <ul>
          <li><a href="./index.html">Головна</a></li>
          <li><a href="./portfolio.html">Портфоліо</a></li>
          <li>
            <span>Код Наці</span>
          </li>
        </ul>
      </div>

      <div class="onecase__cards">
        <div class="splide">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <div class="cards-case ibg openModal" data-id="galleryModal">
                  <img src="./img/content/case_1.jpg" alt="" />
                </div>
              </li>
              <li class="splide__slide">
                <div class="cards-case ibg openModal" data-id="galleryModal">
                  <img src="./img/content/case_2.jpg" alt="" />
                </div>
              </li>
              <li class="splide__slide">
                <div class="cards-case ibg openModal" data-id="galleryModal">
                  <img src="./img/content/case_3.jpg" alt="" />
                </div>
              </li>
              <li class="splide__slide">
                <div class="cards-case ibg openModal" data-id="galleryModal">
                  <img src="./img/content/case_4.jpg" alt="" />
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="slider-def__wrapp">
          <div class="progressbar">
            <div class="progressbar__thumb"></div>
          </div>
        </div>
      </div>

      <div class="onecase__content">
        <h2 class="title2">Код Наці</h2>
        <div class="onecase__desc">
          <p>
            Коробка для карт виконана з жовтого та блакитного дизайн. паперів з
            нанесенням логотипу в 1 колір шовкодруком.
          </p>
          <p>
            Папір надає упаковці вишуканий вигляд, а жовті стрічки прикрашають
            упаковку та надійно захищають її вміст.
          </p>
        </div>
      </div>

      <div class="onecase__box">
        <ul class="onecase__items">
          <li>
            <h4 class="title4">на магнітах</h4>
            <div class="txt-def1">
              <p>Тип коробки</p>
            </div>
            <div class="onecase__icon">
              <img src="./img/icons/advan_1.svg" alt="" />
            </div>
          </li>
          <li>
            <h4 class="title4">шовкодрук</h4>
            <div class="txt-def1">
              <p>Друк</p>
            </div>
            <div class="onecase__icon">
              <img src="./img/icons/advan_2.svg" alt="" />
            </div>
          </li>
          <li>
            <h4 class="title4">13х8х3 см</h4>
            <div class="txt-def1">
              <p>Розміри</p>
            </div>
            <div class="onecase__icon">
              <img src="./img/icons/advan_3.svg" alt="" />
            </div>
          </li>
        </ul>

        <button type="button" class="btn-def openModal" data-id="consultModal">
          Отримати розрахунок
        </button>
      </div>
    </div>
  </div>
</section>
