<section class="services-desc descript pd1">
  <div class="descript__container">
    <div class="descript__content">
      <h3 class="title3">
        Кашировані коробки для фірмового паковання різної продукції: в чому
        особливості методу
      </h3>
      <p>
        Виробництво Boxes спеціалізується на виготовленні коробок з
        кашируванням. Процес передбачає склеювання двох матеріалів під пресом
        задля зміцнення коробки та створення бажаного зовнішнього вигляду.
        Можливості каширування коробок великі, і тому у нас можна замовити
        коробки різних видів, розмірів та дизайнів.
      </p>
      <h3 class="title3">Етапи каширування коробок</h3>
      <p>
        Метод каширування дозволяє створити коробки у потрібному кольорі та з
        надрукованим орнаментом. Також склеювання надає продукції додаткової
        міцності, покращує її експлуатаційні характеристики. Відбувається процес
        за спеціальною технологією, яка включає такі етапи:
      </p>

      <div class="descript__box">
        <h3 class="title3">
          «Якість у кожній коробці» та інші принципи нашого виробництва 
        </h3>
        <p>
          Наша компанія спеціалізується на виробництві коробок для пакування
          продукції та подарунків. Забезпечуємо повний цикл виготовлення коробок
          від підготовки макетів і матеріалів до збірки готових конструкцій. У
          Boxes можна замовити коробки різні за формами, видами та дизайнами.
        </p>
        <h3 class="title3">Які коробки ми виготовляємо</h3>
        <p>
          Картонні коробки – популярні конструкції для пакування різноманітної
          продукції власного виробництва чи торгових компаній. Їх використовують
          для упаковки продукції задля її збереження на складах, так і для її
          презентації при продажі. 
        </p>
        <p>
          Пакувати у картонні коробки можна будь-що – від одягу до кондитерських
          виробів, від невеликих аксесуарів і біжутерії до габаритних товарів на
          зразок побутової техніки. Яким би не був ваш товар, ви можете замовити
          коробки оптом потрібної форми та розмірів на нашому виробництві.
        </p>
      </div>

      <button type="button" class="btn-more">Більше</button>
    </div>
  </div>
</section>
