<section class="blog fullscreen halvscr first-elem">
  <div class="fullscreen__wrapp">
    <div class="fullscreen__container">
      <div class="fullscreen__body">
        <div class="breadcrumbs">
          <ul>
            <li><a href="./index.html">Головна</a></li>
            <li><a href="./blog.html">Блог</a></li>
            <li>
              <span>
                Виготовляємо коробки оптом для різної продукції та ділимось
                корисною інформацією про коробки, а також виробництво
              </span>
            </li>
          </ul>
        </div>

        <h1 class="title1">
          Виготовляємо коробки оптом для різної продукції та ділимось корисною
          інформацією про коробки, а також виробництво
        </h1>
      </div>
    </div>

    <div class="fullscreen__img no-select ibg">
      <img src="./img/content/hero1.jpg" alt="" />
    </div>
  </div>
</section>
