<section class="news">
  <div class="news__container">
    <ul class="news__cards">
      <li class="cards-news">
        <a href="./article.html" class="cards-news__img ibg">
          <img class="lazyload" data-src="./img/content/new_1.jpg" alt="" />
        </a>
        <div class="cards-news__box">
          <a href="./article.html" class="title4">
            Екологічно чисті коробки<br />
            для спідньої білизни
          </a>
          <div class="cards-news__desc">
            <p>
              Попит на екологічно чисті продукти та прості функціональні рішення
              змушує
            </p>
          </div>
        </div>
      </li>
      <li class="cards-news">
        <a href="./article.html" class="cards-news__img ibg">
          <img class="lazyload" data-src="./img/content/new_2.jpg" alt="" />
        </a>
        <div class="cards-news__box">
          <a href="./article.html" class="title4">
            Картонні коробочки<br />
            для флешок
          </a>
          <div class="cards-news__desc">
            <p>
              Благодійність грає важливу роль в сучасному суспільному житті.
            </p>
          </div>
        </div>
      </li>
      <li class="cards-news">
        <a href="./article.html" class="cards-news__img ibg">
          <img class="lazyload" data-src="./img/content/new_3.jpg" alt="" />
        </a>
        <div class="cards-news__box">
          <a href="./article.html" class="title4">
            Картонні коробки для<br />
            збору грошей, як<br />
            ефективний спосіб<br />
            пасивної благодійності та<br />
            не лише
          </a>
          <div class="cards-news__desc">
            <p>
              Попит на екологічно чисті продукти та прості функціональні рішення
              змушує
            </p>
          </div>
        </div>
      </li>
      <li class="cards-news">
        <a href="./article.html" class="cards-news__img ibg">
          <img class="lazyload" data-src="./img/content/new_2.jpg" alt="" />
        </a>
        <div class="cards-news__box">
          <a href="./article.html" class="title4">
            Виробництво картонних<br />
            коробок: погляд з<br />
            середини
          </a>
          <div class="cards-news__desc">
            <p>
              Пакування для спиртних напоїв належить до преміального сегмента
            </p>
          </div>
        </div>
      </li>
      <li class="cards-news">
        <a href="./article.html" class="cards-news__img ibg">
          <img class="lazyload" data-src="./img/content/new_1.jpg" alt="" />
        </a>
        <div class="cards-news__box">
          <a href="./article.html" class="title4">
            Виробництво картонних<br />
            коробок: погляд з<br />
            середини
          </a>
          <div class="cards-news__desc">
            <p>Пакування для спиртних напоїв належить до преміального</p>
          </div>
        </div>
      </li>
      <li class="cards-news">
        <a href="./article.html" class="cards-news__img ibg">
          <img class="lazyload" data-src="./img/content/new_3.jpg" alt="" />
        </a>
        <div class="cards-news__box">
          <a href="./article.html" class="title4">
            Виробництво картонних коробок: погляд з середини
          </a>
          <div class="cards-news__desc">
            <p>Пакування для спиртних напоїв належить до преміального</p>
          </div>
        </div>
      </li>
      <li class="cards-news">
        <a href="./article.html" class="cards-news__img ibg">
          <img class="lazyload" data-src="./img/content/new_1.jpg" alt="" />
        </a>
        <div class="cards-news__box">
          <a href="./article.html" class="title4">
            Виробництво картонних коробок: погляд з середини
          </a>
          <div class="cards-news__desc">
            <p>Пакування для спиртних напоїв належить до преміального</p>
          </div>
        </div>
      </li>
      <li class="cards-news">
        <a href="./article.html" class="cards-news__img ibg">
          <img class="lazyload" data-src="./img/content/new_2.jpg" alt="" />
        </a>
        <div class="cards-news__box">
          <a href="./article.html" class="title4">
            Як крафтовий папір<br />
            перетворився з обгортки<br />
            для м'яса в найпопулярніше<br />
            упакування у світі
          </a>
          <div class="cards-news__desc">
            <p>Пакування для спиртних напоїв належить до преміального</p>
          </div>
        </div>
      </li>
      <li class="cards-news">
        <a href="./article.html" class="cards-news__img ibg">
          <img class="lazyload" data-src="./img/content/new_3.jpg" alt="" />
        </a>
        <div class="cards-news__box">
          <a href="./article.html" class="title4">
            Нове життя коробочок<br />
            для годинників
          </a>
          <div class="cards-news__desc">
            <p>
              Пакування для спиртних напоїв належить до преміального напоїв
              належить до преміального
            </p>
          </div>
        </div>
      </li>
      <li class="cards-news">
        <a href="./article.html" class="cards-news__img ibg">
          <img class="lazyload" data-src="./img/content/new_1.jpg" alt="" />
        </a>
        <div class="cards-news__box">
          <a href="./article.html" class="title4">
            Виробництво картонних коробок: погляд з середини
          </a>
          <div class="cards-news__desc">
            <p>Пакування для спиртних напоїв належить до преміального</p>
          </div>
        </div>
      </li>
      <li class="cards-news">
        <a href="./article.html" class="cards-news__img ibg">
          <img class="lazyload" data-src="./img/content/new_3.jpg" alt="" />
        </a>
        <div class="cards-news__box">
          <a href="./article.html" class="title4">
            Виробництво картонних коробок: погляд з середини
          </a>
          <div class="cards-news__desc">
            <p>
              Пакування для спиртних напоїв належить до преміального напоїв
              належить до преміального
            </p>
          </div>
        </div>
      </li>
      <li class="cards-news">
        <a href="./article.html" class="cards-news__img ibg">
          <img class="lazyload" data-src="./img/content/new_1.jpg" alt="" />
        </a>
        <div class="cards-news__box">
          <a href="./article.html" class="title4">
            Виробництво картонних коробок: погляд з середини погляд з середини
            погляд з середини
          </a>
          <div class="cards-news__desc">
            <p>Пакування для спиртних напоїв належить до преміального</p>
          </div>
        </div>
      </li>
      <li class="cards-news">
        <a href="./article.html" class="cards-news__img ibg">
          <img class="lazyload" data-src="./img/content/new_3.jpg" alt="" />
        </a>
        <div class="cards-news__box">
          <a href="./article.html" class="title4">
            Виробництво картонних коробок: погляд з середини
          </a>
          <div class="cards-news__desc">
            <p>
              Пакування для спиртних напоїв належить до преміального напоїв
              належить до преміального напоїв належить до преміального
            </p>
          </div>
        </div>
      </li>
      <li class="cards-news">
        <a href="./article.html" class="cards-news__img ibg">
          <img class="lazyload" data-src="./img/content/new_1.jpg" alt="" />
        </a>
        <div class="cards-news__box">
          <a href="./article.html" class="title4">
            Виробництво картонних коробок: погляд з середини
          </a>
          <div class="cards-news__desc">
            <p>Пакування для спиртних напоїв належить до преміального</p>
          </div>
        </div>
      </li>
      <li class="cards-news">
        <a href="./article.html" class="cards-news__img ibg">
          <img class="lazyload" data-src="./img/content/new_2.jpg" alt="" />
        </a>
        <div class="cards-news__box">
          <a href="./article.html" class="title4">
            Виробництво картонних коробок: погляд з середини
          </a>
          <div class="cards-news__desc">
            <p>Пакування для спиртних напоїв належить до преміального</p>
          </div>
        </div>
      </li>
      <li class="cards-news">
        <a href="./article.html" class="cards-news__img ibg">
          <img class="lazyload" data-src="./img/content/new_3.jpg" alt="" />
        </a>
        <div class="cards-news__box">
          <a href="./article.html" class="title4">
            Як крафтовий папір<br />
            перетворився з<br />
            обгортки для м'яса в<br />
            найпопулярніше<br />
            упакування у світі
          </a>
          <div class="cards-news__desc">
            <p>Пакування для спиртних напоїв належить до преміального</p>
          </div>
        </div>
      </li>
    </ul>

    <div class="pagination__wrapp">
      <div
        class="facetwp-facet facetwp-facet-pagination facetwp-type-pager"
        data-name="pagination"
        data-type="pager"
      >
        <div class="facetwp-pager">
          <a class="facetwp-page prev" data-page="1"></a>
          <a class="facetwp-page first" data-page="1">1</a>
          <a class="facetwp-page active" data-page="2">2</a>
          <a class="facetwp-page" data-page="3">3</a>
          <a class="facetwp-page" data-page="4">4</a>
          <a class="facetwp-page" data-page="5">5</a>
          <a class="facetwp-page dots">…</a>
          <a class="facetwp-page last" data-page="12">12</a>
          <a class="facetwp-page next" data-page="3"></a>
        </div>
      </div>
    </div>
  </div>
</section>
