.cases {
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 1.5rem;
    margin-top: -4rem;

    .card-def {
      &:nth-child(1) {
        margin-top: 15rem;
      }
      &:nth-child(2) {
        margin-top: 10rem;
      }
      &:nth-child(3) {
        margin-top: 5rem;
      }
    }
  }

  .heading__sec {
    margin-bottom: 0;
  }

  .card-def {
    flex-basis: calc((100% - 3 * 1.5rem) / 4);
    min-height: 18.75rem;
    padding: 2.5rem 4rem 6.875rem 1.875rem;
  }
}

@media screen and (max-width: 960px) {
  .cases {
    &__list {
      gap: 0.25rem;
      margin-top: 0;

      .card-def {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          margin-top: 0;
        }
      }
    }

    .heading__sec {
      margin-bottom: 0.9375rem;
    }

    .card-def {
      flex-basis: calc((100% - 1 * 0.25rem) / 2);
      padding: 1.25rem 5rem 0.625rem 0.625rem;
      min-height: 8rem;
      .title4 {
        display: block;
        margin-bottom: 0;
      }
      &__img {
        bottom: auto;
        left: auto;
        top: 0.9375rem;
        right: 1.25rem;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .cases {
    .card-def {
      flex-basis: 100%;
      min-height: 7.5rem;
    }
  }
}
