.favor {
  .heading__sec {
    margin-bottom: 0;
  }

  .card-def {
    min-height: auto;
    flex-basis: 100%;
    flex: 1 1 auto;
    padding: 2.5rem 4rem 6.875rem 1.875rem;

    .title4 {
      margin-bottom: 0;
      -webkit-line-clamp: 3;
    }
  }

  .splide {
    margin-top: -4rem;
  }
  .splide__list {
    display: flex !important;
    flex-wrap: wrap;
    align-items: start;
    gap: 1.5rem;

    .splide__slide {
      display: flex;
      flex-direction: column;
      min-height: 23.75rem;
      flex-basis: calc((100% - 3 * 1.5rem) / 4);
      &:nth-child(1) {
        margin-top: 15rem;
      }
      &:nth-child(2) {
        margin-top: 10rem;
      }
      &:nth-child(3) {
        margin-top: 5rem;
      }
    }
  }

  .slider-def__wrapp {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .favor {
    .heading__sec {
      margin-bottom: 0.9375rem;
    }

    .card-def {
      padding: 1.25rem 4.5rem 0.625rem 0.625rem;
      &__img {
        left: auto;
        bottom: auto;
        top: 0.94rem;
        right: 1.25rem;
      }
    }

    .splide {
      margin-top: 0;
    }
    .splide__list {
      align-items: stretch;
      gap: 0.25rem;

      .splide__slide {
        min-height: 8.125rem;
        flex-basis: calc((100% - 1 * 0.25rem) / 2);
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          margin-top: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 775px) {
  .favor {
    .splide__track {
      overflow: visible;
    }
    .splide__list {
      flex-wrap: nowrap;
      gap: 0;

      .splide__slide {
        min-height: 7.5rem;
        flex-basis: auto;
      }
    }

    .slider-def__wrapp {
      display: flex;
    }
  }
}
