.mobmenu {
  display: none;
}

@media screen and (max-width: 960px) {
  .mobmenu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 100;
    width: calc(100% - 3.45rem);
    height: calc(100vh - 100%);
    background-color: var(--cw);
    transform: translateX(calc(-100% - 3.45rem));

    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-overflow-scrolling: touch;

    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      top: -100%;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: var(--cw);
    }
    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: -50%;
      left: 0;
      background-color: rgba(61, 53, 58, 0.3);
      width: calc(100% + 3.45rem);
      height: 200vh;
      opacity: 0;
      transition: all 0.2s ease-in;
      -webkit-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
    }

    &.isOpened {
      transform: translateX(0);
      &::after {
        opacity: 1;
      }
    }

    &__body {
      position: relative;
      z-index: 5;
      overflow-y: auto;
      height: 100%;
      background-color: var(--cw);
    }
    &__container {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}
