<section class="portfolio fullscreen halvscr">
  <div class="fullscreen__wrapp">
    <div class="fullscreen__container">
      <div class="fullscreen__body">
        <div class="breadcrumbs">
          <ul>
            <li><a href="./index.html">Головна</a></li>
            <li><span>Виробництво</span></li>
          </ul>
        </div>

        <h1 class="title1">
          Портфоліо<br />
          виробництва<br />
          Boxes
        </h1>

        <div class="fullscreen__box">
          <div class="txt-def1">
            <p>
              Наше портфоліо<br />
              з виконаними проєктами – коробки різних<br />
              розмірів та дизайнів
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="fullscreen__img no-select ibg">
      <img src="./img/content/hero_3.jpg" alt="" />
    </div>
  </div>
</section>
