<section class="ware">
  <div class="ware__container">
    <div
      class="facetwp-facet facetwp-facet-catnews facetwp-type-radio"
      data-name="catnews"
      data-type="radio"
    >
      <div class="facetwp-radio checked" data-value="">Всі</div>
      <div class="facetwp-radio" data-value="zvity">
        <span class="facetwp-display-value">кришка-дно</span>
        <span class="facetwp-counter">(20)</span>
      </div>
      <div class="facetwp-radio" data-value="obid-bez-bid">
        <span class="facetwp-display-value">на магнітах</span>
        <span class="facetwp-counter">(20)</span>
      </div>
      <div class="facetwp-radio" data-value="trudolyub">
        <span class="facetwp-display-value">на стрічках</span>
        <span class="facetwp-counter">(19)</span>
      </div>
      <div class="facetwp-radio" data-value="zhyttyelyub-pikluyetsya">
        <span class="facetwp-display-value">Висувні</span>
        <span class="facetwp-counter">(13)</span>
      </div>
      <div class="facetwp-radio" data-value="zhyttyelyub-pikluyetsya">
        <span class="facetwp-display-value">Капелюшні</span>
        <span class="facetwp-counter">(13)</span>
      </div>
      <div class="facetwp-radio" data-value="zhyttyelyub-pikluyetsya">
        <span class="facetwp-display-value">Коробки Ego</span>
        <span class="facetwp-counter">(13)</span>
      </div>
      <div class="facetwp-radio" data-value="zhyttyelyub-pikluyetsya">
        <span class="facetwp-display-value">Самозбірні коробки</span>
        <span class="facetwp-counter">(13)</span>
      </div>
    </div>

    <ul class="ware__cards">
      <li class="cards-ware">
        <div class="slider-def__aside ibg">
          <img src="./img/content/finish_1.jpg" alt="" />
          <div class="slider-def__content">
            <h3 class="title3">Imperial</h3>
            <div class="slider-def__box">
              <div class="slider-def__desc">
                <p>Кришка-дно</p>
              </div>
              <a href="#" class="btn-alt">Переглянути</a>
            </div>
          </div>
        </div>
      </li>
      <li class="cards-ware">
        <div class="slider-def__aside ibg">
          <img src="./img/content/finish_2.jpg" alt="" />
          <div class="slider-def__content">
            <h3 class="title3">Yakush</h3>
            <div class="slider-def__box">
              <div class="slider-def__desc">
                <p>Кришка-дно</p>
              </div>
              <a href="#" class="btn-alt">Переглянути</a>
            </div>
          </div>
        </div>
      </li>
      <li class="cards-ware">
        <div class="slider-def__aside ibg">
          <img src="./img/content/finish_3.jpg" alt="" />
          <div class="slider-def__content">
            <h3 class="title3">numi Kyiv</h3>
            <div class="slider-def__box">
              <div class="slider-def__desc">
                <p>Кришка-дно</p>
              </div>
              <a href="#" class="btn-alt">Переглянути</a>
            </div>
          </div>
        </div>
      </li>
      <li class="cards-ware">
        <div class="slider-def__aside ibg">
          <img src="./img/content/finish_4.jpg" alt="" />
          <div class="slider-def__content">
            <h3 class="title3">eter</h3>
            <div class="slider-def__box">
              <div class="slider-def__desc">
                <p>Кришка-дно</p>
              </div>
              <a href="#" class="btn-alt">Переглянути</a>
            </div>
          </div>
        </div>
      </li>
      <li class="cards-ware">
        <div class="slider-def__aside ibg">
          <img src="./img/content/finish_4.jpg" alt="" />
          <div class="slider-def__content">
            <h3 class="title3">eter</h3>
            <div class="slider-def__box">
              <div class="slider-def__desc">
                <p>Кришка-дно</p>
              </div>
              <a href="#" class="btn-alt">Переглянути</a>
            </div>
          </div>
        </div>
      </li>
      <li class="cards-ware">
        <div class="slider-def__aside ibg">
          <img src="./img/content/finish_5.jpg" alt="" />
          <div class="slider-def__content">
            <h3 class="title3">Dream Box</h3>
            <div class="slider-def__box">
              <div class="slider-def__desc">
                <p>Кришка-дно</p>
              </div>
              <a href="#" class="btn-alt">Переглянути</a>
            </div>
          </div>
        </div>
      </li>
      <li class="cards-ware">
        <div class="slider-def__aside ibg">
          <img src="./img/content/finish_6.jpg" alt="" />
          <div class="slider-def__content">
            <h3 class="title3">Feel Alive</h3>
            <div class="slider-def__box">
              <div class="slider-def__desc">
                <p>Кришка-дно</p>
              </div>
              <a href="#" class="btn-alt">Переглянути</a>
            </div>
          </div>
        </div>
      </li>
      <li class="cards-ware">
        <div class="slider-def__aside ibg">
          <img src="./img/content/finish_3.jpg" alt="" />
          <div class="slider-def__content">
            <h3 class="title3">Finik Family</h3>
            <div class="slider-def__box">
              <div class="slider-def__desc">
                <p>Кришка-дно</p>
              </div>
              <a href="#" class="btn-alt">Переглянути</a>
            </div>
          </div>
        </div>
      </li>
      <li class="cards-ware">
        <div class="slider-def__aside ibg">
          <img src="./img/content/finish_2.jpg" alt="" />
          <div class="slider-def__content">
            <h3 class="title3">Flowers</h3>
            <div class="slider-def__box">
              <div class="slider-def__desc">
                <p>Кришка-дно</p>
              </div>
              <a href="#" class="btn-alt">Переглянути</a>
            </div>
          </div>
        </div>
      </li>
      <li class="cards-ware">
        <div class="slider-def__aside ibg">
          <img src="./img/content/finish_6.jpg" alt="" />
          <div class="slider-def__content">
            <h3 class="title3">Imperial</h3>
            <div class="slider-def__box">
              <div class="slider-def__desc">
                <p>Кришка-дно</p>
              </div>
              <a href="#" class="btn-alt">Переглянути</a>
            </div>
          </div>
        </div>
      </li>
      <li class="cards-ware">
        <div class="slider-def__aside ibg">
          <img src="./img/content/finish_4.jpg" alt="" />
          <div class="slider-def__content">
            <h3 class="title3">Imperial</h3>
            <div class="slider-def__box">
              <div class="slider-def__desc">
                <p>Кришка-дно</p>
              </div>
              <a href="#" class="btn-alt">Переглянути</a>
            </div>
          </div>
        </div>
      </li>
      <li class="cards-ware">
        <div class="slider-def__aside ibg">
          <img src="./img/content/finish_1.jpg" alt="" />
          <div class="slider-def__content">
            <h3 class="title3">Imperial</h3>
            <div class="slider-def__box">
              <div class="slider-def__desc">
                <p>Кришка-дно</p>
              </div>
              <a href="#" class="btn-alt">Переглянути</a>
            </div>
          </div>
        </div>
      </li>
      <li class="cards-ware">
        <div class="slider-def__aside ibg">
          <img src="./img/content/finish_7.jpg" alt="" />
          <div class="slider-def__content">
            <h3 class="title3">Imperial</h3>
            <div class="slider-def__box">
              <div class="slider-def__desc">
                <p>Кришка-дно</p>
              </div>
              <a href="#" class="btn-alt">Переглянути</a>
            </div>
          </div>
        </div>
      </li>
      <li class="cards-ware">
        <div class="slider-def__aside ibg">
          <img src="./img/content/finish_2.jpg" alt="" />
          <div class="slider-def__content">
            <h3 class="title3">Imperial</h3>
            <div class="slider-def__box">
              <div class="slider-def__desc">
                <p>Кришка-дно</p>
              </div>
              <a href="#" class="btn-alt">Переглянути</a>
            </div>
          </div>
        </div>
      </li>
      <li class="cards-ware">
        <div class="slider-def__aside ibg">
          <img src="./img/content/finish_4.jpg" alt="" />
          <div class="slider-def__content">
            <h3 class="title3">Imperial</h3>
            <div class="slider-def__box">
              <div class="slider-def__desc">
                <p>Кришка-дно</p>
              </div>
              <a href="#" class="btn-alt">Переглянути</a>
            </div>
          </div>
        </div>
      </li>
      <li class="cards-ware">
        <div class="slider-def__aside ibg">
          <img src="./img/content/finish_7.jpg" alt="" />
          <div class="slider-def__content">
            <h3 class="title3">Imperial</h3>
            <div class="slider-def__box">
              <div class="slider-def__desc">
                <p>Кришка-дно</p>
              </div>
              <a href="#" class="btn-alt">Переглянути</a>
            </div>
          </div>
        </div>
      </li>
    </ul>

    <div class="pagination__wrapp">
      <div
        class="facetwp-facet facetwp-facet-pagination facetwp-type-pager"
        data-name="pagination"
        data-type="pager"
      >
        <div class="facetwp-pager">
          <a class="facetwp-page prev" data-page="1"></a>
          <a class="facetwp-page first" data-page="1">1</a>
          <a class="facetwp-page active" data-page="2">2</a>
          <a class="facetwp-page" data-page="3">3</a>
          <a class="facetwp-page" data-page="4">4</a>
          <a class="facetwp-page" data-page="5">5</a>
          <a class="facetwp-page dots">…</a>
          <a class="facetwp-page last" data-page="12">12</a>
          <a class="facetwp-page next" data-page="3"></a>
        </div>
      </div>
    </div>
  </div>
</section>
