<section class="advice pd1">
  <div class="advice__container">
    <div class="advice__title">
      <h2 class="title2">
        Ми завжди<br />
        на зв'язку,<br />
        проконсультуємо<br />
        та підберемо найкращі<br />
        рішення для вашого<br />
        проєкту
      </h2>
    </div>

    <div class="advice__content">
      <form class="advice__form submitForm" id="adviceForm">
        <div class="advice__wrapp">
          <div class="advice__box">
            <p>Ваше ім’я*</p>
            <label class="label__def">
              <span class="input__def">
                <input
                  type="text"
                  name="advice-name"
                  data-required="true"
                  placeholder="Ваше ім’я*"
                />
              </span>
              <span class="required"></span>
            </label>
          </div>
          <div class="advice__box">
            <p>Ваш телефон*</p>
            <label class="label__def">
              <span class="input__def">
                <input
                  type="tel"
                  name="advice-tel"
                  data-required="true"
                  placeholder="Ваш телефон*"
                />
              </span>
              <span class="required"></span>
            </label>
          </div>
          <div class="advice__box">
            <p>Ваш e-mail*</p>
            <label class="label__def">
              <span class="input__def">
                <input
                  type="email"
                  name="advice-email"
                  data-required="true"
                  placeholder="Ваш e-mail*"
                />
              </span>
              <span class="required"></span>
            </label>
          </div>
          <div class="advice__box">
            <p>Ваш коментар</p>
            <label class="label__def">
              <span class="input__def">
                <textarea
                  name="advice-area"
                  rows="5"
                  placeholder="Ваш коментар"
                ></textarea>
              </span>
              <span class="required"></span>
            </label>
          </div>
        </div>

        <div class="advice__aside">
          <button type="submit" class="btn-def">Отримати розрахунок</button>
          <div class="advice__desc">
            <p>
              Надіславши цей запит, Ви надаєте згоду на збір, обробку та
              зберігання Ваших персональних даних
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
