<section class="contacts fullscreen halvscr">
  <div class="fullscreen__wrapp">
    <div class="fullscreen__container">
      <div class="fullscreen__body">
        <div class="breadcrumbs">
          <ul>
            <li><a href="./index.html">Головна</a></li>
            <li><span>Контакти виробництва</span></li>
          </ul>
        </div>

        <h1 class="title1">
          Контакти<br />
          виробництва
        </h1>

        <div class="fullscreen__box">
          <div class="txt-def1">
            <p>
              Пропонуємо різні способи зв'язку для консультації та обговорень
              ваших замовлень.
            </p>
            <p>
              Зв’яжіться з нами зручним способом та отримайте детальні відповіді
              на ваші запитання.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="fullscreen__img no-select ibg">
      <img src="./img/content/hero_11.jpg" alt="" />
    </div>
  </div>
</section>
