<div class="location pd1">
  <div class="location__container">
    <div class="location__map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2327.8051463807046!2d30.57304!3d50.40316549999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cfb1fe244cf9%3A0x271216ebd39f88d8!2zQm94ZXMgLSDQutC-0YDQvtCx0LrQuCDRgtCwINGD0L_QsNC60L7QstC60LAg0L7Qv9GC0L7QvCDQstGW0LQg0LLQuNGA0L7QsdC90LjQutCw!5e1!3m2!1sru!2sua!4v1734976700426!5m2!1sru!2sua"
        style="border: 0"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        title="Map with the location of our office"
      >
      </iframe>
    </div>
  </div>
</div>
