<div class="navmenu">
  <nav class="navmenu__nav">
    <ul class="navmenu__list">
      <li class="menu-item menu-item-has-children">
        <a href="./index.html">Коробки <sub>(6)</sub></a>
        <ul class="sub-menu">
          <li>
            <a href="./assortment.html">кришка-дно</a>
          </li>
          <li>
            <a href="./assortment.html">на магнітах</a>
          </li>
          <li>
            <a href="./assortment.html">Самозбірні коробки</a>
          </li>
          <li>
            <a href="./assortment.html">на стрічках</a>
          </li>
          <li>
            <a href="./assortment.html">Висувні</a>
          </li>
          <li>
            <a href="./assortment.html">Капелюшні</a>
          </li>
          <li>
            <a href="./assortment.html">Коробки Ego</a>
          </li>
        </ul>
      </li>
      <li class="menu-item menu-item-has-children">
        <a href="./services.html">Послуги <sub>(4)</sub></a>
        <ul class="sub-menu">
          <li>
            <a href="./service.html">Самозбірні коробки</a>
          </li>
          <li>
            <a href="./service.html">на стрічках</a>
          </li>
          <li>
            <a href="./service.html">Висувні</a>
          </li>
          <li>
            <a href="./service.html">Коробки Ego</a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="./production.html">Виробництво</a>
      </li>
      <li class="menu-item">
        <a href="./portfolio.html">Портфоліо</a>
      </li>
      <li class="menu-item">
        <a href="./delivery.html">Доставка</a>
      </li>
    </ul>
  </nav>

  <ul class="navmenu__lang">
    <li
      id="menu-item-406"
      class="is-active pll-parent-menu-item menu-item current-lang menu-item-type-custom menu-item-object-custom current-menu-parent menu-item-has-children menu-item-406"
    >
      <a href="#">UA</a>
    </li>
    <li
      id="menu-item-406"
      class="is-active pll-parent-menu-item menu-item menu-item-type-custom menu-item-object-custom current-menu-parent menu-item-has-children menu-item-406"
    >
      <a href="#">EN</a>
    </li>
  </ul>
</div>
