<section class="assortment-faq faq pd1">
  <div class="faq__container">
    <div class="heading__sec">
      <h2 class="title2">
        Нас<br />
        часто запитують
      </h2>
    </div>

    <div class="faq__wrapp">
      <ul class="faq__list">
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">
                Яких кольорів у вас можна замовити висувні коробки?
              </h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">
                Чи можу я вам надіслати свій макет логотипа для нанесення на
                коробку?
              </h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">
                Якими можуть бути розміри висувної коробки?
              </h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">
                У Boxes можуть прикріпити ручки до висувної коробки?
              </h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul class="faq__list">
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">
                Де можна побачити прайс на коробки-слайдери?
              </h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">
                Чи можна десь побачити зразки ваших виробів, щоб оцінити якість?
              </h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">
                У нашої компанії вже є фірмове пакування, але потрібні ще такі ж
                коробки. Чи можете ви виготовити нову
              </h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">
                Чи здійснюєте ви відправлення замовлень в Європу?
              </h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
