<div class="assortment-finish slider-def slider-hover pd1">
  <div class="slider-def__container">
    <div class="heading__sec">
      <div class="heading__title">
        <h2 class="title2">Потужності нашого виробництва</h2>
        <div class="txt-def1">
          <p>Пропонуємо чимало варіантів дизайну для висувних коробок</p>
        </div>
      </div>
      <div class="heading__desc colm1">
        <div class="txt-def1">
          <p>
            Можна обрати матеріали різних текстур – дизайнерський картон високої
            якості, ламінований чи палітурний картон, крафт. Колір коробки також
            на вибір з асортименту дизайнерського паперу чи будь-який
            надрукований відтінок з палітри Pantone. Також друкуємо зображення,
            візерунки, патерни, тексти, назви компаній чи логотипи (можуть бути
            не лише надруковані, а й нанесені методом тиснення). Різноманітні
            варіанти дизайну допоможуть створити коробку з бажаним оформленням.
          </p>
          <p>
            Розмір та форму також підбираємо під ваші потреби. Коробка на
            замовлення може бути виготовлена у різних розмірах, з різною висотою
            та формами – квадратні чи прямокутні з потрібними параметрами ширини
            та довжини.
          </p>
          <p>
            Додатково можна замовити кріплення ручки зі стрічки чи оздоблення
            іншим декором.
          </p>
        </div>
      </div>
    </div>

    <div class="slider-def__splide">
      <div class="splide">
        <div class="splide__track">
          <ul class="splide__list">
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img src="./img/content/finish_1.jpg" alt="" />
                <div class="slider-def__content">
                  <h3 class="title3">The box</h3>
                  <div class="slider-def__box">
                    <div class="slider-def__desc">
                      <p>Кришка-дно</p>
                    </div>
                    <a href="#" class="btn-alt">Переглянути</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img src="./img/content/finish_2.jpg" alt="" />
                <div class="slider-def__content">
                  <h3 class="title3">entr</h3>
                  <div class="slider-def__box">
                    <div class="slider-def__desc">
                      <p>Кришка-дно</p>
                    </div>
                    <a href="#" class="btn-alt">Переглянути</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img src="./img/content/finish_3.jpg" alt="" />
                <div class="slider-def__content">
                  <h3 class="title3">numi kyiv</h3>
                  <div class="slider-def__box">
                    <div class="slider-def__desc">
                      <p>Кришка-дно</p>
                    </div>
                    <a href="#" class="btn-alt">Переглянути</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img src="./img/content/finish_4.jpg" alt="" />
                <div class="slider-def__content">
                  <h3 class="title3">sweret atelier</h3>
                  <div class="slider-def__box">
                    <div class="slider-def__desc">
                      <p>Кришка-дно</p>
                    </div>
                    <a href="#" class="btn-alt">Переглянути</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img src="./img/content/finish_5.jpg" alt="" />
                <div class="slider-def__content">
                  <h3 class="title3">nemiroff</h3>
                  <div class="slider-def__box">
                    <div class="slider-def__desc">
                      <p>Кришка-дно</p>
                    </div>
                    <a href="#" class="btn-alt">Переглянути</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img src="./img/content/finish_1.jpg" alt="" />
                <div class="slider-def__content">
                  <h3 class="title3">The box</h3>
                  <div class="slider-def__box">
                    <div class="slider-def__desc">
                      <p>Кришка-дно</p>
                    </div>
                    <a href="#" class="btn-alt">Переглянути</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img src="./img/content/finish_2.jpg" alt="" />
                <div class="slider-def__content">
                  <h3 class="title3">entr</h3>
                  <div class="slider-def__box">
                    <div class="slider-def__desc">
                      <p>Кришка-дно</p>
                    </div>
                    <a href="#" class="btn-alt">Переглянути</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img src="./img/content/finish_3.jpg" alt="" />
                <div class="slider-def__content">
                  <h3 class="title3">numi kyiv</h3>
                  <div class="slider-def__box">
                    <div class="slider-def__desc">
                      <p>Кришка-дно</p>
                    </div>
                    <a href="#" class="btn-alt">Переглянути</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img src="./img/content/finish_4.jpg" alt="" />
                <div class="slider-def__content">
                  <h3 class="title3">sweret atelier</h3>
                  <div class="slider-def__box">
                    <div class="slider-def__desc">
                      <p>Кришка-дно</p>
                    </div>
                    <a href="#" class="btn-alt">Переглянути</a>
                  </div>
                </div>
              </div>
            </li>
            <li class="splide__slide">
              <div class="slider-def__aside ibg">
                <img src="./img/content/finish_5.jpg" alt="" />
                <div class="slider-def__content">
                  <h3 class="title3">nemiroff</h3>
                  <div class="slider-def__box">
                    <div class="slider-def__desc">
                      <p>Кришка-дно</p>
                    </div>
                    <a href="#" class="btn-alt">Переглянути</a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="slider-def__wrapp">
        <div class="arrows">
          <div class="arrows__body">
            <button type="button" class="arrows__prev"></button>
            <button type="button" class="arrows__next"></button>
          </div>
        </div>

        <div class="progressbar">
          <div class="progressbar__thumb"></div>
        </div>

        <a href="./portfolio.html" class="btn-alt var3">Перейти в портфоліо</a>
      </div>
    </div>
  </div>
</div>
