<section class="assortment-reviews reviews pd1">
  <div class="reviews__container">
    <div class="heading__sec">
      <div class="heading__title">
        <h2 class="title2">
          Відгуки<br />
          про наші коробки
        </h2>
      </div>
      <div class="heading__desc">
        <div class="txt-def1">
          <p>
            Наші клієнти залишають свої враження про<br />
            замовлення картонних коробок у Boxes, а<br />
            ми цінуємо ці відгуки та співпрацю з<br />
            кожним.
          </p>
        </div>
      </div>
    </div>

    <div class="reviews__body">
      <div>Плагін для відгуків google</div>
    </div>
  </div>
</section>
