<section class="assortment-advan advantage mr1 prllx">
  <div class="advantage__wrapp">
    <div class="advantage__container">
      <div class="heading__sec">
        <div class="heading__title">
          <h2 class="title2">
            Чому<br />
            обирають Boxes
          </h2>
        </div>
      </div>

      <ul class="advantage__cards prllx-list prllxT">
        <li class="card-def">
          <p class="card-def__lead">Перевага 1</p>
          <h4 class="title4">
            Здійснюємо повний цикл<br />
            виготовлення картонних<br />
            коробок – від розробки макетів<br />
            до збірки готових конструкцій
          </h4>
          <div class="card-def__img">
            <img src="./img/icons/ico_40.svg" alt="" />
          </div>
        </li>
        <li class="card-def">
          <p class="card-def__lead">Перевага 2</p>
          <h4 class="title4">
            Обираємо для роботи якісні<br />
            матеріали різних текстур<br />
            для створення унікальних<br />
            коробок
          </h4>
          <div class="card-def__img">
            <img src="./img/icons/ico_12.svg" alt="" />
          </div>
        </li>
        <li class="card-def">
          <p class="card-def__lead">Перевага 3</p>
          <h4 class="title4">
            Надаємо професійні та<br />
            вичерпні консультації, щоб<br />
            підібрати оптимальне<br />
            рішення для потреб<br />
            клієнтів
          </h4>
          <div class="card-def__img">
            <img src="./img/icons/ico_29.svg" alt="" />
          </div>
        </li>
        <li class="card-def">
          <p class="card-def__lead">Перевага 4</p>
          <h4 class="title4">
            Вчасно виконуємо<br />
            замовлення, щоб ви<br />
            отримували продукцію в<br />
            обумовлені терміни
          </h4>
          <div class="card-def__img">
            <img src="./img/icons/ico_30.svg" alt="" />
          </div>
        </li>
        <li class="card-def">
          <p class="card-def__lead">Перевага 5</p>
          <h4 class="title4">
            Надсилаємо замовлення по<br />
            Києву, Україні та в будь-яке<br />
            місто Європи
          </h4>
          <div class="card-def__img">
            <img src="./img/icons/ico_4.svg" alt="" />
          </div>
        </li>
        <li class="card-def card-red">
          <p class="card-def__lead">Безкоштовна консультація</p>
          <h4 class="title4">
            Виникли<br />
            запитання?
          </h4>
          <button
            type="button"
            class="btn-alt openModal"
            data-id="consultModal"
          >
            Задати
          </button>
          <div class="card-def__img">
            <img src="./img/decor/advan_1.png" alt="" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
