<section class="assortment-advan advantage mr1">
  <div class="advantage__wrapp">
    <div class="advantage__container">
      <div class="heading__sec">
        <div class="heading__title">
          <h2 class="title2">Наші переваги як партнера та виробника</h2>
        </div>
      </div>

      <ul class="advantage__cards">
        <li class="card-def">
          <p class="card-def__lead">Перевага 1</p>
          <h4 class="title4">
            Забезпечуємо повний цикл виготовлення коробок від підготовчих робіт
            до завершального декорування і пакування для відправки
          </h4>
          <div class="card-def__img">
            <img src="./img/icons/advan_1.svg" alt="" />
          </div>
        </li>
        <li class="card-def">
          <p class="card-def__lead">Перевага 2</p>
          <h4 class="title4">
            Обираємо для роботи лише якісні матеріали, які відповідають вимогам
            ДСТУ та міжнародним стандартам якості ISO
          </h4>
          <div class="card-def__img">
            <img src="./img/icons/advan_2.svg" alt="" />
          </div>
        </li>
        <li class="card-def">
          <p class="card-def__lead">Перевага 3</p>
          <h4 class="title4">
            Консультуємо та надаємо розгорнуті відповіді на ваші запитання щодо
            матеріалів, термінів та інших деталей виробництва
          </h4>
          <div class="card-def__img">
            <img src="./img/icons/advan_3.svg" alt="" />
          </div>
        </li>
        <li class="card-def">
          <p class="card-def__lead">Перевага 4</p>
          <h4 class="title4">
            Контролюємо усі етапи виробництва, зокрема ретельно оглядаємо вироби
            перед відправкою, щоб ви отримували цілісні та якісні коробки для
            пакування опт
          </h4>
          <div class="card-def__img">
            <img src="./img/icons/advan_4.svg" alt="" />
          </div>
        </li>
        <li class="card-def">
          <p class="card-def__lead">Перевага 5</p>
          <h4 class="title4">
            Надсилаємо продукцію по Києву і в будь-які міста – Одесу, Львів,
            Вінницю, Дніпро чи інший населений пункт України, а також в Європу
          </h4>
          <div class="card-def__img">
            <img src="./img/icons/advan_5.svg" alt="" />
          </div>
        </li>
        <li class="card-def card-red">
          <p class="card-def__lead">Безкоштовна консультація</p>
          <h4 class="title4">Виникли запитання?</h4>
          <button
            type="button"
            class="btn-alt openModal"
            data-id="consultModal"
          >
            Задати
          </button>
          <div class="card-def__img">
            <img src="./img/decor/advan_1.png" alt="" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
