<section class="assortment-advan advantage mr1">
  <div class="advantage__wrapp">
    <div class="advantage__container">
      <div class="heading__sec">
        <div class="heading__title">
          <h2 class="title2">
            Чом<br />
            обирають Boxes
          </h2>
        </div>
      </div>

      <ul class="advantage__cards">
        <li class="card-def">
          <p class="card-def__lead">Перевага 1</p>
          <h4 class="title4">
            Здійснюємо повний цикл виготовлення картонних коробок – від розробки
            макетів до збірки готових конструкцій
          </h4>
          <div class="card-def__img">
            <img src="./img/icons/advan_1.svg" alt="" />
          </div>
        </li>
        <li class="card-def">
          <p class="card-def__lead">Перевага 2</p>
          <h4 class="title4">
            Обираємо для роботи якісні матеріали різних текстур для створення
            унікальних коробок
          </h4>
          <div class="card-def__img">
            <img src="./img/icons/advan_2.svg" alt="" />
          </div>
        </li>
        <li class="card-def">
          <p class="card-def__lead">Перевага 3</p>
          <h4 class="title4">
            Надаємо професійні та вичерпні консультації, щоб підібрати
            оптимальне рішення для потреб клієнтів;
          </h4>
          <div class="card-def__img">
            <img src="./img/icons/advan_3.svg" alt="" />
          </div>
        </li>
        <li class="card-def">
          <p class="card-def__lead">Перевага 4</p>
          <h4 class="title4">
            Вчасно виконуємо замовлення, щоб ви отримували продукцію в
            обумовлені терміни
          </h4>
          <div class="card-def__img">
            <img src="./img/icons/advan_4.svg" alt="" />
          </div>
        </li>
        <li class="card-def">
          <p class="card-def__lead">Перевага 5</p>
          <h4 class="title4">
            Надсилаємо замовлення по Києву, Україні та в будь-яке місто Європи
          </h4>
          <div class="card-def__img">
            <img src="./img/icons/advan_5.svg" alt="" />
          </div>
        </li>
        <li class="card-def card-red">
          <p class="card-def__lead">Безкоштовна консультація</p>
          <h4 class="title4">Виникли запитання?</h4>
          <button
            type="button"
            class="btn-alt openModal"
            data-id="consultModal"
          >
            Задати
          </button>
          <div class="card-def__img">
            <img src="./img/decor/advan_1.png" alt="" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
