<section class="assortment-desc descript pd1">
  <div class="descript__container">
    <div class="descript__content">
      <h3 class="title3">Висока якість висувних коробок: як ми працюємо</h3>
      <p>
        Висувні коробки підкреслюють особливість вмісту, адже стильно та
        унікально виглядають. Вони підходять для пакування різноманітної
        продукції власного виробництва чи товарів на продаж, оформлення
        подарунків та зберігання різних дрібниць. Конструкція захищає вміст з
        усіх сторін, а також зручна у використанні. Компанія Boxes забезпечує
        виготовлення картонних коробок висувного типу з дотриманням високих
        стандартів виробництва. У нас можна замовити якісні коробки та отримати
        їх в Одесі, Хмельницькому, Львові чи іншому місті України і навіть
        Європи. 
      </p>
      <h3 class="title3">
        Чому і для якої продукції обирають такі конструкції 
      </h3>
      <p>
        Висувний формат коробок ще називають слайдерами чи пеналами. Вони зручні
        у зберіганні, адже компактно складаються одна на одну та не займають
        зайвого місця. Процес пакування також не забирає багато часу – середина
        легко висувається, туди кладеться все необхідне, і без труднощів її
        засовують назад. Висувний принцип відкриття створює легкий доступ до
        вмісту, а завдяки ручкам навіть не обов'язково підіймати коробку.
      </p>

      <div class="descript__box">
        <h3 class="title3">
          «Якість у кожній коробці» та інші принципи нашого виробництва 
        </h3>
        <p>
          Наша компанія спеціалізується на виробництві коробок для пакування
          продукції та подарунків. Забезпечуємо повний цикл виготовлення коробок
          від підготовки макетів і матеріалів до збірки готових конструкцій. У
          Boxes можна замовити коробки різні за формами, видами та дизайнами.
        </p>
        <h3 class="title3">Які коробки ми виготовляємо</h3>
        <p>
          Картонні коробки – популярні конструкції для пакування різноманітної
          продукції власного виробництва чи торгових компаній. Їх використовують
          для упаковки продукції задля її збереження на складах, так і для її
          презентації при продажі. 
        </p>
        <p>
          Пакувати у картонні коробки можна будь-що – від одягу до кондитерських
          виробів, від невеликих аксесуарів і біжутерії до габаритних товарів на
          зразок побутової техніки. Яким би не був ваш товар, ви можете замовити
          коробки оптом потрібної форми та розмірів на нашому виробництві.
        </p>
      </div>

      <button type="button" class="btn-more">Більше</button>
    </div>
  </div>
</section>
