<section class="calc pd1">
  <div class="calc__container">
    <div class="sec-column">
      <div class="sec-column__info">
        <h2 class="title2">
          Як<br />
          дізнатись вартість
        </h2>

        <div class="sec-column__content">
          <div class="sec-column__box">
            <div class="txt-def1">
              <p>
                Скористайтесь нашим калькулятором вартості, щоб дізнатись, якою
                буде ціна на потрібну вам партію висувних коробок. Просто
                вкажіть усі параметри – матеріали, розміри, кількість та інші
                необхідні послуги.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="calc__body">
        <div>Калькулятор</div>
      </div>
    </div>
  </div>
</section>
