<section class="calc pd1">
  <div class="calc__container">
    <div class="sec-column">
      <div class="sec-column__info">
        <h2 class="title2">
          Як<br />
          дізнатись вартість
        </h2>

        <div class="sec-column__content">
          <div class="sec-column__box colm1">
            <div class="txt-def1">
              <p>
                Скористайтесь нашим калькулятором<br />
                вартості, щоб дізнатись, якою буде ціна на<br />
                потрібну вам партію висувних коробок.<br />
                Просто вкажіть усі параметри – матеріали,<br />
                розміри, кількість та інші необхідні<br />
                послуги.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="calc__body">
        <div>Калькулятор</div>
      </div>
    </div>
  </div>
</section>
