<section class="constrct pd1">
  <div class="constrct__container">
    <div class="sec-column">
      <div class="sec-column__info">
        <h2 class="title2">
          Конструкція<br />
          висувних коробок
        </h2>

        <div class="sec-column__content">
          <div class="sec-column__box">
            <div class="txt-def1">
              <p>
                Висувні коробки закриваються та відкриваються методом висування
                середньої частини з зовнішнього корпуса.
              </p>
            </div>
          </div>
          <div class="sec-column__box">
            <div class="txt-def1">
              <p>
                Зовнішня частина огортає середину згори, знизу та двох бічних
                сторін, що дозволяє основі висуватись в обидві сторони. Також
                може бути виконана з задньою глухою стінкою ій утворювати
                кишеньку, тоді вона як шухляда висувається лише вперед.
              </p>
              <p>
                У нас можна замовити висувні коробки оптом з якісних матеріалів
                – це основа з палітурного картону зі щільністю 1,2-3 мм та
                каширування матеріалами з різними текстурами й кольорами.
              </p>
            </div>
            <div class="txt-def1">
              <p>
                Виготовляємо висувні коробки у прямокутних та квадратних формах
                з потрібними розмірами під продукцію. Додатково можна
                доповнювати ручками з різних стрічок – атлас, органза тощо.
              </p>
              <p>
                Обирають цей вид пакування для подарунків та товарів з різних
                сфер – косметики, одягу, взуття, техніки, поліграфії, ювелірних
                виробів.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="sec-column__img ibg no-select">
        <img src="./img/content/constrct.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
