<section class="constrct pd1">
  <div class="constrct__container">
    <div class="sec-column">
      <div class="sec-column__info">
        <h2 class="title2">
          Конструкція<br />
          висувних коробок
        </h2>

        <div class="sec-column__content">
          <div class="sec-column__box colm1">
            <div class="txt-def1">
              <p>
                Висувні коробки закриваються та<br />
                відкриваються методом висування середньої<br />
                частини з зовнішнього корпуса.
              </p>
            </div>
          </div>
          <div class="sec-column__box">
            <div class="txt-def1">
              <p>
                Зовнішня частина огортає середину<br />
                згори, знизу та двох бічних сторін, що<br />
                дозволяє основі висуватись в обидві<br />
                сторони. Також може бути виконана з<br />
                задньою глухою стінкою ій утворювати<br />
                кишеньку, тоді вона як шухляда<br />
                висувається лише вперед.
              </p>
              <p>
                У нас можна замовити висувні<br />
                коробки оптом з якісних матеріалів –<br />
                це основа з палітурного картону зі<br />
                щільністю 1,2-3 мм та каширування<br />
                матеріалами з різними текстурами й<br />
                кольорами.
              </p>
            </div>
            <div class="txt-def1">
              <p>
                Виготовляємо висувні коробки у<br />
                прямокутних та квадратних формах з<br />
                потрібними розмірами під продукцію.<br />
                Додатково можна доповнювати<br />
                ручками з різних стрічок – атлас,<br />
                органза тощо.
              </p>
              <p>
                Обирають цей вид пакування для<br />
                подарунків та товарів з різних сфер –<br />
                косметики, одягу, взуття, техніки,<br />
                поліграфії, ювелірних виробів.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="sec-column__img ibg no-select">
        <img src="./img/content/constrct.webp" alt="" />
      </div>
    </div>
  </div>
</section>
