<section class="featur pd1 prllx">
  <div class="featur__container">
    <div class="heading__sec">
      <div class="heading__title">
        <h2 class="title2">
          Висувна коробка<br />
          і її особливості
        </h2>
      </div>
    </div>

    <div class="splide">
      <div class="splide__track">
        <ul class="splide__list prllx-list prllxS">
          <li class="splide__slide">
            <div class="card-def">
              <h4 class="title4">
                Висувний принцип<br />
                відкриття
              </h4>
              <div class="card-def__desc">
                <p>
                  Можна приклеїти до основи задрукований лист з будь-яким
                  відтінком, повноколірним зображенням чи візерунком.
                </p>
              </div>
              <div class="card-def__img">
                <img src="./img/icons/ico_35.svg" alt="" />
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="card-def">
              <h4 class="title4">
                Простота у<br />
                використанні
              </h4>
              <div class="card-def__desc">
                <p>
                  Картон, який береться за основу коробок, має обмежений вибір
                  текстур і кольорів, а каширування дозволяє створити коробки
                  різноманітних кольорів.
                </p>
              </div>
              <div class="card-def__img">
                <img src="./img/icons/ico_44.svg" alt="" />
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="card-def">
              <h4 class="title4">
                Стійкість<br />
                конструкції
              </h4>
              <div class="card-def__desc">
                <p>
                  Середину можна виконати в одному кольорі, а зовнішню сторону
                  обклеїти папером іншого кольору. Таке пакування продукції
                  виглядатиме цікаво та стильно
                </p>
              </div>
              <div class="card-def__img">
                <img src="./img/icons/ico_9.svg" alt="" />
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="card-def">
              <h4 class="title4">
                Великі можливості<br />
                декорування
              </h4>
              <div class="card-def__desc">
                <p>
                  Зклеювання одного листа з іншим зміцнює корпус коробки, тому
                  вони стають витривалими, міцними й стійко тримають форму.
                </p>
              </div>
              <div class="card-def__img">
                <img src="./img/icons/ico_18.svg" alt="" />
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="slider-def__wrapp">
      <div class="progressbar">
        <div class="progressbar__thumb"></div>
      </div>
    </div>
  </div>
</section>
