.header {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--cw);

  &__main {
    position: relative;
    z-index: 110;
    padding: 1.25rem 0;
    border-bottom: 0.125rem solid var(--ch);
    transition: all 0.15s ease-in;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: calc(100% - 3.45rem);
      height: 0.125rem;
      transform: translateY(100%);
      background-color: transparent;
      transition: all 0.3s ease-in;
    }
    &.addBorder {
      border-color: transparent;
      &::before {
        background-color: var(--ch);
      }
    }
  }
  &__container {
    max-width: 118.75rem;
  }
  &__body {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__box {
    flex-shrink: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &__tel {
    flex-shrink: 0;
    margin-right: 2.5rem;
    a {
      display: block;
      font-size: 0.9375rem;
      font-weight: 500;
      line-height: 1.2;
      letter-spacing: -0.04em;
      transition: all 0.15s ease-in;
      &:hover {
        color: var(--cr);
      }
    }
  }

  &__lang {
    position: relative;
    margin-left: 1.5625rem;
    flex-shrink: 0;

    & > li {
      min-width: 5.9375rem;
      padding: 1.25rem 1.125rem 1.075rem 1.5625rem;
      border-radius: 0.5rem;
      border: 0.125rem solid var(--ch);
      background-color: var(--cw);
      transition: all 0.15s ease-in;
      & > a {
        &::after {
          content: "";
          position: relative;
          top: 0.25rem;
          flex-shrink: 0;
          width: 0.5625rem;
          height: 0.3438rem;
          background-size: 0.5625rem 0.3438rem;
          background-position: center center;
          background-repeat: no-repeat;
          background-image: var(--vectorLangD);
          transition: all 0.15s ease-in;
        }
      }
      a {
        color: var(--cg);
        font-size: 0.8125rem;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: -0.04em;
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 0.5rem;
        transition: all 0.15s ease-in;
      }
      &:hover {
        border-radius: 0.5rem 0.5rem 0 0;
        border: 0.125rem solid var(--ch);
        border-bottom: 0.125rem solid transparent;

        .sub-menu {
          visibility: visible;
          opacity: 1;
          transform: translateY(-15%);
        }
        & > a {
          &::after {
            background-image: var(--vectorLangH);
            transform: rotate(-180deg);
          }
        }
      }
    }

    .sub-menu {
      visibility: hidden;
      opacity: 0;
      transform: translateY(-40%);
      position: absolute;
      z-index: 2;
      top: 100%;
      left: 0;
      right: 0;
      width: 100%;
      padding: 0 1.125rem 0.6875rem 1.5625rem;
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 0.3125rem;
      border-radius: 0 0 0.5rem 0.5rem;
      border: 0.125rem solid var(--ch);
      border-top: 0;
      background-color: var(--cw);
      transition: all 0.15s ease-in;

      li {
        &.current-lang {
          a {
            color: var(--cr);
          }
        }
      }
      a {
        &:hover {
          color: var(--cr);
        }
      }
    }
  }

  .custom-logo-link {
    flex-shrink: 0;
    width: 6.625rem;
    display: block;
    margin-right: 4rem;
    position: relative;
    top: -0.4rem;
  }

  .btn-def {
  }
}

.burger {
  display: none;
}

@media screen and (max-width: 960px) {
  .header {
    &__main {
      padding: 0.625rem 0;
    }

    &__box {
      margin-left: 0;
      margin-right: 3.15rem;
    }

    &__tel {
      margin-right: 0.625rem;
      a {
        background-color: var(--cw);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.3125rem;
        border-radius: 0.5rem;
        border: 0.125rem solid var(--ch);
        span {
          width: 1.25rem;
          height: 1.25rem;
        }
        &:hover {
          color: var(--cr);
        }
      }
    }

    &__lang {
      display: none;
    }

    .custom-logo-link {
      width: 3.8125rem;
      margin-right: auto;
      top: 0;
    }

    .btn-def {
      padding: 0.5625rem 0.875rem 0.4375rem 0.875rem;
    }
  }

  .burger {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1.875rem;
    height: 0.625rem;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      height: 0.125rem;
      background-color: var(--cm);
      transform: translateX(-50%) translateY(-50%) rotate(0);

      -webkit-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
      &:first-child {
        top: 0;
        left: auto;
        right: 0;
        transform: translateX(0%) translateY(0%);
        width: 0.8125rem;
      }
      &:last-child {
        top: 100%;
        transform: translateX(-50%) translateY(-100%);
      }
    }

    &.isOpened {
      width: 1.375rem;
      height: 1.375rem;
      span {
        border-radius: 0.625rem;
        background-color: var(--cw);
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        top: 50%;
        &:first-child {
          transform: translateX(0%) translateY(-50%) rotate(-45deg);
          opacity: 0;
        }
        &:last-child {
          transform: translateX(-50%) translateY(-50%) rotate(-45deg);
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .header {
  }
}
