.form {
  &__consult {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 3.125rem 0;
    margin-bottom: 1.875rem;
    width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .form {
    &__consult {
      .btn-def {
        width: 100%;
        max-width: 20.5rem;
      }
    }
    &__box {
      gap: 2rem 0;
      margin-bottom: 1.375rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .class {
  }
}
