.heading__sec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 0 1.75rem;
  margin-bottom: 3.125rem;
}
.heading__desc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 0 1.875rem;
  .txt-def1 {
    display: flex;
    flex-direction: column;
    gap: 1.25rem 0;
  }
}

.form {
  &__consult {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__box {
    display: flex;
    flex-direction: column;
    gap: 3.125rem 0;
    margin-bottom: 1.875rem;
    width: 100%;
  }
}

.card-def {
}

@media screen and (max-width: 960px) {
  .heading__sec {
    grid-template-columns: 1fr;
    align-items: stretch;
    gap: 0.625rem 0;
    margin-bottom: 0.9375rem;
  }
  .heading__desc {
    grid-template-columns: 1fr;
    align-items: stretch;
    gap: 0.625rem 0;
    .txt-def1 {
      gap: 0.625rem 0;
    }
  }

  .form {
    &__consult {
      .btn-def {
        width: 100%;
        max-width: 20.5rem;
      }
    }
    &__box {
      gap: 2rem 0;
      margin-bottom: 1.375rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .class {
  }
}
