body {
  /* Colors */
  --cm: #3d353a;
  --cb: #000;
  --cw: #fff;
  --cu: #f9f7f8;
  --ch: #efebed;
  --cf: #e4dee0;
  --cg: #ae9ba5;
  --cy: #443c41;
  --cr: #ed6e77;

  /* Fonts */
  --Gunterz: "Gunterz", sans-serif;
  --GolosText: "GolosText", sans-serif;
  --Ermilov: "Ermilov", sans-serif;
  --Manrope: "Manrope", sans-serif;
}
