.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  display: flex;
  flex-flow: column nowrap;
  background-color: rgba(61, 53, 58, 0.3);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.isAnimation {
    -webkit-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
  }

  &.isOpened {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    .modal__body {
      transform: scale(1);
    }
  }

  &__container {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
  }

  &__body {
    flex: 0 0 auto;
    margin: 10rem 0 5rem 0;
    position: relative;
    background-color: var(--cw);
    border-radius: 0.5rem;
    max-width: 35rem;
    width: 100%;
    overflow: hidden;
    padding: 2.5rem 1.875rem;
    transform: scale(0.9);

    -webkit-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
  }

  &__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    width: 1.75rem;
    height: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      content: "";
      flex-shrink: 0;
      width: 1.75rem;
      height: 1.75rem;
      background-size: 1.75rem 1.75rem;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: var(--closeModalB);
      transition: all 0.15s ease-in;
    }
    &:hover {
      &::before {
        background-image: var(--closeModalH);
      }
    }
  }

  &__wrapp {
  }
  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.9375rem 0;
    margin-bottom: 1.875rem;
  }
  &__logo {
    width: 2.63906rem;
    img {
      width: 100%;
    }
  }
  &__lead {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: -0.04em;
  }
  &__inf {
    margin-top: 1.25rem;
    color: rgba(61, 53, 58, 0.7);
    text-align: center;
    font-family: var(--Manrope);
    font-size: 0.875rem;
    line-height: normal;
    letter-spacing: -0.01em;
    padding: 0 3.25rem;
  }
}

@media screen and (max-width: 960px) {
  .modal {
    &__container {
      padding: 0 0.625rem;
    }

    &__body {
      margin: 7rem 0 4rem 0;
      max-width: 25rem;
      padding: 1.25rem 0.875rem;
    }

    &__close {
      top: 0.9375rem;
      right: 0.9375rem;
      width: 1.4375rem;
      height: 1.4375rem;
      &::before {
        width: 1.4375rem;
        height: 1.4375rem;
        background-size: 1.4375rem 1.4375rem;
      }
    }

    &__heading {
      gap: 1.25rem 0;
      margin-bottom: 0.9375rem;
    }
    &__logo {
      width: 2.0625rem;
    }

    &__lead {
      font-size: 1rem;
    }
    &__inf {
      margin-top: 0.9375rem;
      font-size: 0.75rem;
      letter-spacing: -0.01em;
      padding: 0;
    }
  }
}
