.reviews {
  &__container {
  }

  &__body {
    overflow: hidden;
    border-radius: 0.625rem;
    border: 0.125rem solid var(--ch);
    min-height: 21.875rem;
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    font-family: var(--GolosText), Verdana, sans-serif;
    div {
      // flex: 1 1 auto;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // font-size: 1.125rem;
      // font-weight: 500;
      // line-height: 1.3;
      // opacity: 0.3;
    }
  }
}

@media screen and (max-width: 960px) {
  .reviews {
    &__body {
      min-height: 11.1875rem;
      padding: 0.9375rem;
      div {
        font-size: 0.875rem;
      }
    }
  }
}
