<section class="cases pd1">
  <div class="cases__container">
    <div class="heading__sec">
      <div class="heading__title">
        <h2 class="title2">
          Випадки,<br />
          при яких гарантія не діє
        </h2>
      </div>
      <div class="heading__desc">
        <div class="txt-def1"><p>Гарантія не поширюється:</p></div>
      </div>
    </div>

    <ul class="cases__list">
      <li class="card-def">
        <h4 class="title4">
          при пошкодженні продукції під час транспортування чи використання
        </h4>
        <div class="card-def__img">
          <img src="./img/icons/advan_1.svg" alt="" />
        </div>
      </li>
      <li class="card-def">
        <h4 class="title4">при недотриманні правил користування</h4>
        <div class="card-def__img">
          <img src="./img/icons/advan_2.svg" alt="" />
        </div>
      </li>
      <li class="card-def">
        <h4 class="title4">при внесенні змін у конструкцію</h4>
        <div class="card-def__img">
          <img src="./img/icons/advan_3.svg" alt="" />
        </div>
      </li>
      <li class="card-def">
        <h4 class="title4">при зносі коробки через тривале використання</h4>
        <div class="card-def__img">
          <img src="./img/icons/advan_4.svg" alt="" />
        </div>
      </li>
    </ul>
  </div>
</section>
