<section class="cases pd1 prllx">
  <div class="cases__container">
    <div class="heading__sec">
      <div class="heading__title">
        <h2 class="title2">
          Випадки,<br />
          при яких гарантія<br />
          не діє
        </h2>
      </div>
      <div class="heading__desc">
        <div class="txt-def1"><p>Гарантія не поширюється:</p></div>
      </div>
    </div>

    <ul class="cases__list prllx-list prllxS">
      <li class="card-def">
        <h4 class="title4">
          при пошкодженні<br />
          продукції під час<br />
          транспортування<br />
          чи використання
        </h4>
        <div class="card-def__img">
          <img src="./img/icons/ico_45.svg" alt="" />
        </div>
      </li>
      <li class="card-def">
        <h4 class="title4">
          при недотриманні<br />
          правил користування
        </h4>
        <div class="card-def__img">
          <img src="./img/icons/ico_33.svg" alt="" />
        </div>
      </li>
      <li class="card-def">
        <h4 class="title4">
          при внесенні<br />
          змін у конструкцію
        </h4>
        <div class="card-def__img">
          <img src="./img/icons/ico_25.svg" alt="" />
        </div>
      </li>
      <li class="card-def">
        <h4 class="title4">
          при зносі коробки<br />
          через тривале<br />
          використання
        </h4>
        <div class="card-def__img">
          <img src="./img/icons/ico_34.svg" alt="" />
        </div>
      </li>
    </ul>
  </div>
</section>
