<section class="guarantees fullscreen halvscr">
  <div class="fullscreen__wrapp">
    <div class="fullscreen__container">
      <div class="fullscreen__body">
        <div class="breadcrumbs">
          <ul>
            <li><a href="./index.html">Головна</a></li>
            <li><span>Оплата</span></li>
          </ul>
        </div>

        <h1 class="title1">Гарантії якості на картонні коробки</h1>

        <div class="fullscreen__box">
          <div class="txt-def1">
            <p>
              Виготовляємо міцні та привабливі коробки з гарантією якості й
              дотриманням гарантійних зобов'язань
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="fullscreen__img no-select ibg">
      <img src="./img/content/hero1.jpg" alt="" />
    </div>
  </div>
</section>
