<section class="provides pd1">
  <div class="provides__container">
    <div class="heading__sec">
      <div class="heading__title">
        <h2 class="title2">
          Які гарантії<br />
          надає виробництво<br />
          Boxes
        </h2>
      </div>
      <div class="heading__desc colm1">
        <div class="txt-def1">
          <p>
            Компанія Boxes дотримується Закону України «Про захист прав<br />
            споживачів», тому наші клієнти можуть повернути замовлення<br />
            протягом 14 днів, якщо отримали вироби неналежної якості або вони<br />
            не відповідають узгодженим параметрам.
          </p>
        </div>
        <h4 class="title4">Гарантійний термін продукції</h4>
        <div class="txt-def1">
          <p>
            Ми гарантуємо виготовлення міцної та якісної продукції.
            Гарантійний<br />
            термін на наші вироби становить 1 рік з дати постачання. Впродовж<br />
            цього періоду ви можете звернутись до нас, якщо коробки
            розклеїлись,<br />
            розшарувались чи проявили при використанні невисоку якість іншим<br />
            чином.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
