<section class="return pd1">
  <div class="return__container">
    <div class="heading__sec">
      <div class="heading__title">
        <h2 class="title2">
          Як зробити<br />
          обмін чи<br />
          повернення
        </h2>
      </div>
      <div class="heading__article">
        <h4>
          Щоб скористатись гарантійними правами і зробити обмін продукції чи
          повернення коштів за продукцію, яка має певні дефекти, зв'яжіться з
          нами:
        </h4>
        <ul>
          <li>
            <span><img src="./img/icons/ico_m1.svg" alt="" /></span>
            напишіть нашим менеджерам в телеграм;
          </li>
          <li>
            <span><img src="./img/icons/ico_m2.svg" alt="" /></span>
            надайте фото товарної накладної, чеку чи іншого документа про
            отримання посилки;
          </li>
          <li>
            <span><img src="./img/icons/ico_m3.svg" alt="" /></span>
            надішліть фото, де видно пошкодження коробок.
          </li>
        </ul>
        <p>
          Якщо продукція містить справді виробничі дефекти, ми забезпечимо
          виготовлення нової партії чи повернемо кошти. Гарантія буде діяти на
          продукцію зі збереженими документами та дотриманням правил
          використання.
        </p>
        <p>
          Виробництво Boxes відповідально ставиться до виготовлення коробок та
          обслуговування клієнтів, тому такі ситуації стаються дуже рідко. Якщо
          є така ситуація сталась, ми зробимо все від нас залежне, щоб її
          вирішити.
        </p>
      </div>
    </div>
  </div>
</section>
