<section class="brands pd1">
  <div class="brands__container">
    <div class="heading__sec">
      <div class="heading__title">
        <h2 class="title2">
          Бренди,<br />
          які довірили нам виготовлення
        </h2>
      </div>
      <div class="heading__desc">
        <div class="txt-def1">
          <p>
            Компанії, які ви можете знати і які довірили нам виготовлення
            картонних коробок.
          </p>
        </div>
      </div>
    </div>

    <div class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <div class="brands__img">
              <img src="./img/content/brand_1.png" alt="" />
            </div>
          </li>
          <li class="splide__slide">
            <div class="brands__img">
              <img src="./img/content/brand_2.png" alt="" />
            </div>
          </li>
          <li class="splide__slide">
            <div class="brands__img">
              <img src="./img/content/brand_3.png" alt="" />
            </div>
          </li>
          <li class="splide__slide">
            <div class="brands__img">
              <img src="./img/content/brand_4.png" alt="" />
            </div>
          </li>
          <li class="splide__slide">
            <div class="brands__img">
              <img src="./img/content/brand_5.png" alt="" />
            </div>
          </li>
          <li class="splide__slide">
            <div class="brands__img">
              <img src="./img/content/brand_6.png" alt="" />
            </div>
          </li>
          <li class="splide__slide">
            <div class="brands__img">
              <img src="./img/content/brand_7.png" alt="" />
            </div>
          </li>
          <li class="splide__slide">
            <div class="brands__img">
              <img src="./img/content/brand_8.png" alt="" />
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="slider-def__wrapp onl-btn">
      <div class="arrows">
        <div class="arrows__body">
          <button
            type="button"
            class="arrows__prev"
            aria-label="Arrows prev"
          ></button>
          <button
            type="button"
            class="arrows__next"
            aria-label="Arrows next"
          ></button>
        </div>
      </div>

      <div class="progressbar">
        <div class="progressbar__thumb"></div>
      </div>
    </div>
  </div>
</section>
