<section class="constrct pd1">
  <div class="constrct__container">
    <div class="heading__sec">
      <div class="heading__title">
        <h2 class="title2">
          Конструкції,<br />
          які виготовляємо
        </h2>
      </div>
    </div>

    <ul class="constrct__cards">
      <li class="cards-constrct">
        <div class="cards-constrct__info">
          <a href="./assortment.html" class="title3">
            Коробки<br />
            кришка-дно
          </a>
          <div class="cards-constrct__desc">
            <p>Просте й універсальне рішення</p>
          </div>
        </div>

        <div class="cards-constrct__bg">
          <img src="./img/decor/box_2.svg" alt="" />
        </div>

        <div class="cards-constrct__box ibg_contain">
          <img src="./img/content/constr_1.webp" alt="" />
          <img src="./img/content/constr_1h.webp" alt="" />
        </div>
      </li>
      <li class="cards-constrct">
        <div class="cards-constrct__info">
          <a href="./assortment.html" class="title3">
            Коробки<br />
            на магнітах
          </a>
          <div class="cards-constrct__desc">
            <p>Стильне пакування для ваших ідей</p>
          </div>
        </div>

        <div class="cards-constrct__bg">
          <img src="./img/decor/box_2.svg" alt="" />
        </div>

        <div class="cards-constrct__box ibg_contain">
          <img src="./img/content/constr_2.webp" alt="" />
          <img src="./img/content/constr_2h.webp" alt="" />
        </div>
      </li>
      <li class="cards-constrct">
        <div class="cards-constrct__info">
          <a href="./assortment.html" class="title3">
            Висувні<br />
            коробки
          </a>
          <div class="cards-constrct__desc">
            <p>
              Зручне рішення для упакування, подарунків,<br />
              та зберігання дрібниць
            </p>
          </div>
        </div>

        <div class="cards-constrct__bg">
          <img src="./img/decor/box_2.svg" alt="" />
        </div>

        <div class="cards-constrct__box ibg_contain">
          <img src="./img/content/constr_3.webp" alt="" />
          <img src="./img/content/constr_3h.webp" alt="" />
        </div>
      </li>
      <li class="cards-constrct">
        <div class="cards-constrct__info">
          <a href="./assortment.html" class="title3">
            Коробки<br />
            на стрічках
          </a>
          <div class="cards-constrct__desc">
            <p>Ефектний та практичний подарунок</p>
          </div>
        </div>

        <div class="cards-constrct__bg">
          <img src="./img/decor/box_2.svg" alt="" />
        </div>

        <div class="cards-constrct__box ibg_contain">
          <img src="./img/content/constr_4.webp" alt="" />
          <img src="./img/content/constr_4h.webp" alt="" />
        </div>
      </li>
      <li class="cards-constrct">
        <div class="cards-constrct__info">
          <a href="./assortment.html" class="title3">
            Капелюшні<br />
            коробки
          </a>
          <div class="cards-constrct__desc">
            <p>
              Особливу популярність здобули капелюшні коробки,<br />
              які завдяки різноманітності форм стали<br />
              універсальним упаковуванням для подарунків,<br />
              букетів, одягу і, звісно ж, капелюхів
            </p>
          </div>
        </div>

        <div class="cards-constrct__bg">
          <img src="./img/decor/box_2.svg" alt="" />
        </div>

        <div class="cards-constrct__box ibg_contain">
          <img src="./img/content/constr_5.webp" alt="" />
          <img src="./img/content/constr_5h.webp" alt="" />
        </div>
      </li>
      <li class="cards-constrct">
        <div class="cards-constrct__info">
          <a href="./assortment.html" class="title3">
            Самозбірні<br />
            коробки
          </a>
          <div class="cards-constrct__desc">
            <p>
              Зручне рішення для упакування,<br />
              подарунків, та зберігання дрібниць
            </p>
          </div>
        </div>

        <div class="cards-constrct__bg">
          <img src="./img/decor/box_2.svg" alt="" />
        </div>

        <div class="cards-constrct__box ibg_contain">
          <img src="./img/content/constr_6.webp" alt="" />
          <img src="./img/content/constr_6h.webp" alt="" />
        </div>
      </li>
      <li class="cards-constrct">
        <div class="cards-constrct__info">
          <a href="./assortment.html" class="title3">
            Коробки<br />
            Ego
          </a>
          <div class="cards-constrct__desc">
            <p>
              Відкрийте світ елегантності та<br />
              унікальності
            </p>
          </div>
        </div>

        <div class="cards-constrct__bg">
          <img src="./img/decor/box_2.svg" alt="" />
        </div>

        <div class="cards-constrct__box ibg_contain">
          <img src="./img/content/constr_7.webp" alt="" />
          <img src="./img/content/constr_7h.webp" alt="" />
        </div>
      </li>
    </ul>
  </div>
</section>
