<section class="constrct pd1">
  <div class="constrct__container">
    <div class="heading__sec">
      <div class="heading__title">
        <h2 class="title2">Конструкції, які виготовляємо</h2>
      </div>
    </div>

    <ul class="constrct__cards">
      <li class="cards-constrct">
        <div class="cards-constrct__info">
          <a href="./assortment.html" class="title3">Коробки кришка-дно</a>
          <div class="cards-constrct__desc">
            <p>Просте й універсальне рішення</p>
          </div>
        </div>

        <div class="cards-constrct__bg">
          <img src="./img/decor/box_2.svg" alt="" />
        </div>

        <div class="cards-constrct__box ibg_contain">
          <img src="./img/content/constr_1.png" alt="" />
          <img src="./img/content/constr_1h.png" alt="" />
        </div>
      </li>
      <li class="cards-constrct">
        <div class="cards-constrct__info">
          <a href="./assortment.html" class="title3">Коробки на магнітах</a>
          <div class="cards-constrct__desc">
            <p>Стильне пакування для ваших ідей</p>
          </div>
        </div>

        <div class="cards-constrct__bg">
          <img src="./img/decor/box_2.svg" alt="" />
        </div>

        <div class="cards-constrct__box ibg_contain">
          <img src="./img/content/constr_2.png" alt="" />
          <img src="./img/content/constr_2h.png" alt="" />
        </div>
      </li>
      <li class="cards-constrct">
        <div class="cards-constrct__info">
          <a href="./assortment.html" class="title3">Висувні коробки</a>
          <div class="cards-constrct__desc">
            <p>
              Зручне рішення для упакування, подарунків, та зберігання дрібниць
            </p>
          </div>
        </div>

        <div class="cards-constrct__bg">
          <img src="./img/decor/box_2.svg" alt="" />
        </div>

        <div class="cards-constrct__box ibg_contain">
          <img src="./img/content/constr_3.png" alt="" />
          <img src="./img/content/constr_3h.png" alt="" />
        </div>
      </li>
      <li class="cards-constrct">
        <div class="cards-constrct__info">
          <a href="./assortment.html" class="title3">Коробки на стрічках</a>
          <div class="cards-constrct__desc">
            <p>Ефектний та практичний подарунок</p>
          </div>
        </div>

        <div class="cards-constrct__bg">
          <img src="./img/decor/box_2.svg" alt="" />
        </div>

        <div class="cards-constrct__box ibg_contain">
          <img src="./img/content/constr_4.png" alt="" />
          <img src="./img/content/constr_4h.png" alt="" />
        </div>
      </li>
      <li class="cards-constrct">
        <div class="cards-constrct__info">
          <a href="./assortment.html" class="title3">Капелюшні коробки</a>
          <div class="cards-constrct__desc">
            <p>
              Особливу популярність здобули капелюшні коробки, які завдяки
              різноманітності форм стали універсальним упаковуванням для
              подарунків, букетів, одягу і, звісно ж, капелюхів
            </p>
          </div>
        </div>

        <div class="cards-constrct__bg">
          <img src="./img/decor/box_2.svg" alt="" />
        </div>

        <div class="cards-constrct__box ibg_contain">
          <img src="./img/content/constr_5.png" alt="" />
          <img src="./img/content/constr_5h.png" alt="" />
        </div>
      </li>
      <li class="cards-constrct">
        <div class="cards-constrct__info">
          <a href="./assortment.html" class="title3">Самозбірні коробки</a>
          <div class="cards-constrct__desc">
            <p>
              Зручне рішення для упакування, подарунків, та зберігання дрібниць
            </p>
          </div>
        </div>

        <div class="cards-constrct__bg">
          <img src="./img/decor/box_2.svg" alt="" />
        </div>

        <div class="cards-constrct__box ibg_contain">
          <img src="./img/content/constr_6.png" alt="" />
          <img src="./img/content/constr_6h.png" alt="" />
        </div>
      </li>
      <li class="cards-constrct">
        <div class="cards-constrct__info">
          <a href="./assortment.html" class="title3">Коробки Ego</a>
          <div class="cards-constrct__desc">
            <p>Відкрийте світ елегантності та унікальності</p>
          </div>
        </div>

        <div class="cards-constrct__bg">
          <img src="./img/decor/box_2.svg" alt="" />
        </div>

        <div class="cards-constrct__box ibg_contain">
          <img src="./img/content/constr_7.png" alt="" />
          <img src="./img/content/constr_7h.png" alt="" />
        </div>
      </li>
    </ul>
  </div>
</section>
