<section class="home-faq faq pd1">
  <div class="faq__container">
    <div class="heading__sec">
      <div class="heading__title">
        <h2 class="title2">
          Нас<br />
          часто запитують
        </h2>
      </div>
    </div>

    <div class="faq__wrapp">
      <ul class="faq__list">
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">Для яких галузей ви виготовляєте коробки?</h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">Які матеріали ви використовуєте?</h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">
                Чи є у вас мінімальне замовлення на виготовлення картонних
                коробок?
              </h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">
                Чи можна виконати каширування на самозбірних коробках?
              </h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">
                Який вид коробок я можу замовити у вас для свого товару?
              </h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul class="faq__list">
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">
                Яка ціна на послуги з виготовлення упаковок?
              </h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">Які терміни виготовлення коробок?</h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">
                Чи можете ви надати товарну накладну на замовлення коробок?
              </h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">
                Які способи оплати ви приймаєте? Чи можна оплатити товар при
                отриманні?
              </h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">
                Чи можете надрукувати зображення, чи логотип компанії?
              </h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <button type="button" class="btn-alt var2">Більше</button>
  </div>
</section>
