<section class="home-desc descript pd1">
  <div class="descript__container">
    <div class="descript__content">
      <h3>
        Виробництво картонних коробок оптом з індивідуальними розмірами та
        дизайном
      </h3>
      <p>
        Приваблива та міцна упаковка підвищує цінність продукту, вигідно
        презентує його для аудиторії й захищає при зберіганні й перевезенні. Ми
        виготовляємо коробки оптом з унікальним дизайном, які допомагають
        бізнесу ефективно пакувати та захищати товари. Картонні коробки
        різноманітних форм і будь-яких розмірів від Boxes – це якісне пакування
        з професійним виготовленням та гуртовою ціною.
      </p>
      <h3>Асортимент нашої продукції: вибір вдалого пакування</h3>
      <p>
        Ми пропонуємо виготовлення коробок, які відповідатимуть вимогам бізнесу
        з різних галузей. Тому в Boxes можна замовити коробки оптом в Києві та
        інших містах України для різних потреб:
      </p>
      <ol>
        <li>
          Коробки для безпечного транспортування. Запаковуйте товари в наші
          міцні коробки, щоб забезпечити вмісту захист від пилу й пошкоджень під
          час транспортування.
        </li>
        <li>
          Пакування корпоративних подарунків. В брендовані коробки можна
          пакувати подарунки від компанії для співробітників, клієнтів чи
          партнерів. Нанесення логотипа чи назви компанії зробить їх також
          елементами реклами.
        </li>
        <li>
          Пакування товарів для завершеного вигляду. Пакуйте в картонні коробки
          взуття, одяг, продукти, електроніку, аксесуари тощо. Це додасть
          завершеності та підвищуватиме цінність, а відповідно і вартість
          продукції. 
        </li>
      </ol>

      <div class="descript__box">
        <h3>«Якість у кожній коробці» та інші принципи нашого виробництва </h3>
        <p>
          Наша компанія спеціалізується на виробництві коробок для пакування
          продукції та подарунків. Забезпечуємо повний цикл виготовлення коробок
          від підготовки макетів і матеріалів до збірки готових конструкцій. У
          Boxes можна замовити коробки різні за формами, видами та дизайнами.
        </p>
        <h3>Які коробки ми виготовляємо</h3>
        <p>
          Картонні коробки – популярні конструкції для пакування різноманітної
          продукції власного виробництва чи торгових компаній. Їх використовують
          для упаковки продукції задля її збереження на складах, так і для її
          презентації при продажі. 
        </p>
        <p>
          Пакувати у картонні коробки можна будь-що – від одягу до кондитерських
          виробів, від невеликих аксесуарів і біжутерії до габаритних товарів на
          зразок побутової техніки. Яким би не був ваш товар, ви можете замовити
          коробки оптом потрібної форми та розмірів на нашому виробництві.
        </p>
      </div>

      <button type="button" class="btn-more">Більше</button>
    </div>
  </div>
</section>
