<section class="home-advan advantage">
  <div class="advantage__wrapp">
    <div class="advantage__container">
      <div class="heading__sec">
        <h2 class="title2">
          Чому<br />
          обирають Boxes
        </h2>
      </div>

      <ul class="advantage__cards">
        <li class="card-def">
          <p class="card-def__lead">Перевага 1</p>
          <h4 class="title4">Індивідуальні рішення для потреб бізнесу</h4>
          <div class="card-def__img">
            <img src="./img/icons/advan_1.svg" alt="" />
          </div>
        </li>
        <li class="card-def">
          <p class="card-def__lead">Перевага 2</p>
          <h4 class="title4">
            Відповідність готових коробок до затвердженого дизайну
          </h4>
          <div class="card-def__img">
            <img src="./img/icons/advan_2.svg" alt="" />
          </div>
        </li>
        <li class="card-def">
          <p class="card-def__lead">Перевага 3</p>
          <h4 class="title4">
            Виготовлення коробок під замовлення тиражу від 50 штук без затримок
          </h4>
          <div class="card-def__img">
            <img src="./img/icons/advan_3.svg" alt="" />
          </div>
        </li>
        <li class="card-def">
          <p class="card-def__lead">Перевага 4</p>
          <h4 class="title4">
            Постійний зв'язок для отримання відповідей на всіх етапах співпраці
          </h4>
          <div class="card-def__img">
            <img src="./img/icons/advan_4.svg" alt="" />
          </div>
        </li>
        <li class="card-def">
          <p class="card-def__lead">Перевага 5</p>
          <h4 class="title4">
            Доставка по Києву, або відправка у Львів, Одесу, Чернігів, Запоріжжя
            та інші міста по всій Україні
          </h4>
          <div class="card-def__img">
            <img src="./img/icons/advan_5.svg" alt="" />
          </div>
        </li>
        <li class="card-def card-red">
          <p class="card-def__lead">Безкоштовна консультація</p>
          <h4 class="title4">Виникли запитання?</h4>
          <button
            type="button"
            class="btn-alt openModal"
            data-id="consultModal"
          >
            Задати
          </button>
          <div class="card-def__img">
            <img src="./img/decor/advan_1.png" alt="" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
