<section class="making pd1" style="height: 250vh">
  <div class="making__container">
    <div class="making__body">
      <div class="heading__sec">
        <div class="heading__title">
          <h2 class="title2">
            Як працює<br />
            виробництво Boxes
          </h2>
        </div>
        <div class="heading__desc">
          <div class="txt-def1">
            <p>
              Компанія Boxes забезпечує повний<br />
              цикл виготовлення картонних<br />
              коробок.
            </p>
          </div>
          <div class="txt-def1">
            <p>
              Наше виробництво дозволяє нам<br />
              створювати індивідуальні коробки<br />
              високої якості, адже ми уважні до<br />
              деталей, чітко налагодили всі процеси<br />
              та відповідально контролюємо їх.
            </p>
            <p>
              Кожен етап супроводжується<br />
              контролем якості:
            </p>
          </div>
        </div>
      </div>

      <div class="making__wrapp">
        <ul class="making__сards">
          <li>
            <p>Етап <span>1</span></p>
            <h4 class="title4">
              <span>
                підбираємо<br />
                матеріали</span
              >, які<br />
              відповідають вимогам<br />
              ДСТУ та міжнародним<br />
              стандартам якості ISO
            </h4>
          </li>
          <li>
            <p>Етап <span>2</span></p>
            <h4 class="title4">
              <span>
                професійно проєктуємо<br />
                конструкції
              </span>
              та розробляємо<br />
              <span>індивідуальні дизайни</span> під<br />
              потреби бізнесу
            </h4>
          </li>
          <li>
            <p>Етап <span>3</span></p>
            <h4 class="title4">
              застосовуємо<br />
              у виробництві
              <span
                >високоточне<br />
                обладнання</span
              >
              та <span>ручну роботу</span><br />
              для якісних результатів
            </h4>
          </li>
          <li>
            <p>Етап <span>4</span></p>
            <h4 class="title4">
              <span
                >ретельно оглядаємо<br />
                продукцію</span
              >
              перед<br />
              відправленням
            </h4>
          </li>
        </ul>

        <div class="steps">
          <div class="steps__numbers">
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
          </div>
          <div class="steps__progress">
            <div class="steps__thumb"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
