<section class="ourproduct pd1 prllx">
  <div class="ourproduct__container">
    <div class="heading__sec">
      <div class="heading__title">
        <h2 class="title2">
          Наша<br />
          продукція - це
        </h2>
      </div>
    </div>

    <div class="splide">
      <div class="splide__track">
        <ul class="splide__list prllx-list prllxS">
          <li class="splide__slide">
            <div class="card-def">
              <h4 class="title4">Міцність</h4>
              <div class="card-def__desc">
                <p>
                  Виготовлені зі щільного та якісного картону, наші коробки
                  стійко тримають форму і слугують надійним захистом для вмісту
                  при транспортуванні чи зберіганні на складах.
                </p>
              </div>
              <div class="card-def__img">
                <img src="./img/icons/advan_1.svg" alt="" />
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="card-def">
              <h4 class="title4">Якість</h4>
              <div class="card-def__desc">
                <p>
                  Використовуємо матеріали, які відповідають ДСТУ та міжнародним
                  стандартам ISO, і гарантуємо довговічність наших коробок.
                </p>
              </div>
              <div class="card-def__img">
                <img src="./img/icons/advan_2.svg" alt="" />
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="card-def">
              <h4 class="title4">Індивідуальні</h4>
              <div class="card-def__desc">
                <p>
                  Коробки ідеально підходять під габарити товару, адже
                  розробляються під параметри майбутнього вмісту.
                </p>
              </div>
              <div class="card-def__img">
                <img src="./img/icons/advan_3.svg" alt="" />
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="card-def">
              <h4 class="title4">Привабливість</h4>
              <div class="card-def__desc">
                <p>
                  Пропонуємо великий вибір матеріалів з різними текстурами та
                  кольорами, розробляємо дизайн під фірмовий стиль, наносимо
                  елементи брендування та допомагаємо зробити привабливе
                  оформлення.
                </p>
              </div>
              <div class="card-def__img">
                <img src="./img/icons/advan_4.svg" alt="" />
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="slider-def__wrapp">
      <div class="progressbar">
        <div class="progressbar__thumb"></div>
      </div>
    </div>
  </div>
</section>
