<section class="terms pd1 prllx">
  <div class="terms__container">
    <div class="heading__sec">
      <div class="heading__title">
        <h2 class="title2">
          Способи<br />
          та умови оплати
        </h2>
      </div>
    </div>

    <ul class="terms__list prllx-list prllxT">
      <li class="card-def">
        <h4 class="title4">
          Приймаємо оплату на банківський рахунок (без ПДВ) та готівкою
        </h4>
        <div class="card-def__desc">
          <p>
            Рахунок надсилаємо після обговорення усіх деталей замовлення. Ви
            можете обрати зручний спосіб і оплатити виготовлення продукції на
            рахунок чи готівкою при зустрічі в нашому офісі. Для юридичних осіб
            надамо видаткову накладну.
          </p>
        </div>
        <div class="card-def__img">
          <img src="./img/icons/advan_1.svg" alt="" />
        </div>
      </li>
      <li class="card-def">
        <h4 class="title4">
          На виробництві Boxes обов'язкова передплата на замовлення становить
          70%
        </h4>
        <div class="card-def__desc">
          <p>
            Іншу частину суми за бажанням клієнт доплачує після готовності
            продукції.
          </p>
        </div>
        <div class="card-def__img">
          <img src="./img/icons/advan_2.svg" alt="" />
        </div>
      </li>
      <li class="card-def">
        <h4 class="title4">
          Постійні клієнти можуть розраховувати на індивідуальні умови, які
          попередньо обговорюємо та узгоджуємо
        </h4>
        <div class="card-def__img">
          <img src="./img/icons/advan_3.svg" alt="" />
        </div>
      </li>
    </ul>
  </div>
</section>
