<section class="terms pd1 prllx">
  <div class="terms__container">
    <div class="heading__sec">
      <div class="heading__title">
        <h2 class="title2">
          Способи<br />
          та умови оплати
        </h2>
      </div>
    </div>

    <ul class="terms__list prllx-list prllxT">
      <li class="card-def">
        <h4 class="title4">
          Приймаємо оплату<br />
          на банківський<br />
          рахунок (без ПДВ)<br />
          та готівкою
        </h4>
        <div class="card-def__desc">
          <p>
            Рахунок надсилаємо після обговорення усіх деталей замовлення. Ви
            можете обрати зручний спосіб і оплатити виготовлення продукції на
            рахунок чи готівкою при зустрічі в нашому офісі. Для юридичних осіб
            надамо видаткову накладну.
          </p>
        </div>
        <div class="card-def__img">
          <img src="./img/icons/ico_6.svg" alt="" />
        </div>
      </li>
      <li class="card-def">
        <h4 class="title4">
          На виробництві Boxes<br />
          обов'язкова передплата<br />
          на замовлення<br />
          становить 70%
        </h4>
        <div class="card-def__desc">
          <p>
            Іншу частину суми за бажанням клієнт доплачує після готовності
            продукції.
          </p>
        </div>
        <div class="card-def__img">
          <img src="./img/icons/ico_15.svg" alt="" />
        </div>
      </li>
      <li class="card-def">
        <h4 class="title4">
          Постійні клієнти<br />
          можуть розраховувати<br />
          на індивідуальні умови,<br />
          які попередньо обговорюємо та<br />
          узгоджуємо
        </h4>
        <div class="card-def__img">
          <img src="./img/icons/ico_24.svg" alt="" />
        </div>
      </li>
    </ul>
  </div>
</section>
