<section class="similar pd1">
  <div class="similar__container">
    <div class="heading__sec">
      <div class="heading__title">
        <h2 class="title2">Схожі статті</h2>
      </div>
    </div>

    <div class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <div class="cards-news">
              <a
                href="./article.html"
                class="cards-news__img ibg"
                aria-label="Product image"
              >
                <img src="./img/content/new_1.webp" alt="" />
              </a>
              <div class="cards-news__box">
                <a href="./article.html" class="title4">
                  Екологічно чисті коробки для спідньої білизни
                </a>
                <div class="cards-news__desc">
                  <p>
                    Попит на екологічно чисті продукти та прості функціональні
                    рішення змушує та прості функціональні рішення змушує
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="cards-news">
              <a
                href="./article.html"
                class="cards-news__img ibg"
                aria-label="Product image"
              >
                <img src="./img/content/new_2.webp" alt="" />
              </a>
              <div class="cards-news__box">
                <a href="./article.html" class="title4">
                  Екологічно чисті коробки для спідньої білизни
                </a>
                <div class="cards-news__desc">
                  <p>
                    Попит на екологічно чисті продукти та прості функціональні
                    рішення змушує та прості функціональні рішення змушує
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="cards-news">
              <a
                href="./article.html"
                class="cards-news__img ibg"
                aria-label="Product image"
              >
                <img src="./img/content/new_2.webp" alt="" />
              </a>
              <div class="cards-news__box">
                <a href="./article.html" class="title4">
                  Екологічно чисті коробки для спідньої білизни
                </a>
                <div class="cards-news__desc">
                  <p>
                    Попит на екологічно чисті продукти та прості функціональні
                    рішення змушує та прості функціональні рішення змушує
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="cards-news">
              <a
                href="./article.html"
                class="cards-news__img ibg"
                aria-label="Product image"
              >
                <img src="./img/content/new_3.webp" alt="" />
              </a>
              <div class="cards-news__box">
                <a href="./article.html" class="title4">
                  Екологічно чисті коробки для спідньої білизни
                </a>
                <div class="cards-news__desc">
                  <p>
                    Попит на екологічно чисті продукти та прості функціональні
                    рішення змушує та прості функціональні рішення змушує
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="cards-news">
              <a
                href="./article.html"
                class="cards-news__img ibg"
                aria-label="Product image"
              >
                <img src="./img/content/new_1.webp" alt="" />
              </a>
              <div class="cards-news__box">
                <a href="./article.html" class="title4">
                  Екологічно чисті коробки для спідньої білизни
                </a>
                <div class="cards-news__desc">
                  <p>
                    Попит на екологічно чисті продукти та прості функціональні
                    рішення змушує та прості функціональні рішення змушує
                  </p>
                </div>
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="cards-news">
              <a
                href="./article.html"
                class="cards-news__img ibg"
                aria-label="Product image"
              >
                <img src="./img/content/new_3.webp" alt="" />
              </a>
              <div class="cards-news__box">
                <a href="./article.html" class="title4">
                  Екологічно чисті коробки для спідньої білизни
                </a>
                <div class="cards-news__desc">
                  <p>
                    Попит на екологічно чисті продукти та прості функціональні
                    рішення змушує та прості функціональні рішення змушує
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="slider-def__wrapp onl-btn">
      <div class="arrows">
        <div class="arrows__body">
          <button
            type="button"
            class="arrows__prev"
            aria-label="Arrows prev"
          ></button>
          <button
            type="button"
            class="arrows__next"
            aria-label="Arrows next"
          ></button>
        </div>
      </div>

      <div class="progressbar">
        <div class="progressbar__thumb"></div>
      </div>
    </div>
  </div>
</section>
