<section class="explanat pd1">
  <div class="explanat__container">
    <div class="sec-column">
      <div class="sec-column__info">
        <h2 class="title2">
          Що таке<br />
          каширування<br />
          коробок
        </h2>

        <div class="sec-column__content">
          <div class="sec-column__box">
            <div class="txt-def1">
              <p>Каширування – це процедура склеювання матеріалів між собою.</p>
            </div>
          </div>
          <div class="sec-column__box">
            <div class="txt-def1">
              <p>
                До жорсткої основи під пресом приклеюють лайнер, тобто папір для
                зовнішньої обробки. В деяких випадках може виконуватись навіть
                двостороннє каширування, щоб обклеїти коробку бажаним матеріалом
                і з зовнішньої, і з внутрішньої сторони.
              </p>
              <p>
                Папір для каширування переважно менш щільний і має привабливий
                вигляд – потрібний колір чи стилізоване зображення.
              </p>
            </div>
            <div class="txt-def1">
              <p>
                Ця послуга дозволяє створити коробки пакувальні в унікальному
                дизайні під фірмові кольори компанії чи загальну концепцію
                упаковок. 
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="sec-column__img ibg no-select">
        <img src="./img/content/addit_1.jpg" alt="" />
      </div>
    </div>

    <div class="sec-column">
      <div class="sec-column__info">
        <h2 class="title2">
          Для яких<br />
          видів коробок<br />
          підійде каширування
        </h2>

        <div class="sec-column__content">
          <div class="sec-column__box">
            <div class="txt-def1">
              <p>
                Компанія Boxes пропонує виготовлення картонних коробок різних
                видів і для усіх них можна обрати каширування, щоб створити
                коробки в бажаному кольорі чи з потрібним принтом.
              </p>
            </div>
            <div class="txt-def1">
              <p>
                Обклеювання дизайнерським чи задрукованим папером буде вдалим
                рішенням для коробок кришка-дно, шляпних, висувних, конструкцій
                «Егоїст» та інших видів коробок, які ми виготовляємо. 
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="sec-column__img ibg no-select">
        <img src="./img/content/addit_1.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
