<section class="explanat pd1">
  <div class="explanat__container">
    <div class="sec-column">
      <div class="sec-column__info">
        <h2 class="title2">
          Що таке<br />
          каширування<br />
          коробок
        </h2>

        <div class="sec-column__content">
          <div class="sec-column__box colm1">
            <div class="txt-def1">
              <p>
                Каширування – це процедура склеювання<br />
                матеріалів між собою.
              </p>
            </div>
          </div>
          <div class="sec-column__box">
            <div class="txt-def1">
              <p>
                До жорсткої основи під пресом<br />
                приклеюють лайнер, тобто папір для<br />
                зовнішньої обробки. В деяких<br />
                випадках може виконуватись навіть<br />
                двостороннє каширування, щоб<br />
                обклеїти коробку бажаним матеріалом<br />
                і з зовнішньої, і з внутрішньої сторони.
              </p>
              <p>
                Папір для каширування переважно<br />
                менш щільний і має привабливий<br />
                вигляд – потрібний колір чи<br />
                стилізоване зображення.
              </p>
            </div>
            <div class="txt-def1">
              <p>
                Ця послуга дозволяє створити<br />
                коробки пакувальні в унікальному<br />
                дизайні під фірмові кольори компанії<br />
                чи загальну концепцію упаковок.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="sec-column__img ibg no-select">
        <img src="./img/content/addit_1.jpg" alt="" />
      </div>
    </div>

    <div class="sec-column">
      <div class="sec-column__info">
        <h2 class="title2">
          Для яких<br />
          видів коробок<br />
          підійде каширування
        </h2>

        <div class="sec-column__content">
          <div class="sec-column__box">
            <div class="txt-def1">
              <p>
                Компанія Boxes пропонує<br />
                виготовлення картонних коробок<br />
                різних видів і для усіх них можна<br />
                обрати каширування, щоб створити<br />
                коробки в бажаному кольорі чи з<br />
                потрібним принтом.
              </p>
            </div>
            <div class="txt-def1">
              <p>
                Обклеювання дизайнерським чи<br />
                задрукованим папером буде вдалим<br />
                рішенням для коробок кришка-дно,<br />
                шляпних, висувних, конструкцій<br />
                «Егоїст» та інших видів коробок, які ми<br />
                виготовляємо.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="sec-column__img ibg no-select">
        <img src="./img/content/addit_1.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
