<section class="favor pd1 prllx">
  <div class="favor__container">
    <div class="heading__sec">
      <div class="heading__title">
        <h2 class="title2">Особливості послуги каширування коробок</h2>
      </div>
    </div>

    <div class="splide">
      <div class="splide__track">
        <ul class="splide__list prllx-list prllxS">
          <li class="splide__slide">
            <div class="card-def">
              <h4 class="title4">
                Створення коробок з будь-якими зображеннями
              </h4>
              <div class="card-def__desc">
                <p>
                  Можна приклеїти до основи задрукований лист з будь-яким
                  відтінком, повноколірним зображенням чи візерунком.
                </p>
              </div>
              <div class="card-def__img">
                <img src="./img/icons/advan_1.svg" alt="" />
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="card-def">
              <h4 class="title4">Розширення можливостей для дизайну</h4>
              <div class="card-def__desc">
                <p>
                  Картон, який береться за основу коробок, має обмежений вибір
                  текстур і кольорів, а каширування дозволяє створити коробки
                  різноманітних кольорів.
                </p>
              </div>
              <div class="card-def__img">
                <img src="./img/icons/advan_2.svg" alt="" />
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="card-def">
              <h4 class="title4">Виготовлення двоколірних коробок</h4>
              <div class="card-def__desc">
                <p>
                  Середину можна виконати в одному кольорі, а зовнішню сторону
                  обклеїти папером іншого кольору. Таке пакування продукції
                  виглядатиме цікаво та стильнокування продукції виглядатиме
                  цікаво та стильно
                </p>
              </div>
              <div class="card-def__img">
                <img src="./img/icons/advan_3.svg" alt="" />
              </div>
            </div>
          </li>
          <li class="splide__slide">
            <div class="card-def">
              <h4 class="title4">Зміцнення конструкції</h4>
              <div class="card-def__desc">
                <p>
                  Зклеювання одного листа з іншим зміцнює корпус коробки, тому
                  вони стають витривалими, міцними й стійко тримають форму.
                </p>
              </div>
              <div class="card-def__img">
                <img src="./img/icons/advan_4.svg" alt="" />
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="slider-def__wrapp">
      <div class="progressbar">
        <div class="progressbar__thumb"></div>
      </div>
    </div>
  </div>
</section>
