<section class="service-reviews reviews pd1">
  <div class="reviews__container">
    <div class="heading__sec">
      <div class="heading__title">
        <h2 class="title2">
          Відгуки<br />
          клієнтів про продукцію<br />
          та співпрацю
        </h2>
      </div>
      <div class="heading__desc">
        <div class="txt-def1">
          <p>
            Компанії, які ви можете знати і які довірили<br />
            нам виготовлення картонних коробок.
          </p>
        </div>
      </div>
    </div>

    <div class="reviews__body">
      <div>Плагін для відгуків google</div>
    </div>
  </div>
</section>
