<section class="service-advan advantage">
  <div class="advantage__wrapp">
    <div class="advantage__container">
      <div class="heading__sec">
        <h2 class="title2">Наші переваги як партнера та виробника</h2>
      </div>

      <ul class="advantage__cards">
        <li class="card-def">
          <p class="card-def__lead">Перевага 1</p>
          <h4 class="title4">
            Забезпечуємо комплексне виготовлення коробок з виконанням
            друкарських і післядрукарських послуг
          </h4>
          <div class="card-def__img">
            <img src="./img/icons/advan_1.svg" alt="" />
          </div>
        </li>
        <li class="card-def">
          <p class="card-def__lead">Перевага 2</p>
          <h4 class="title4">
            Виконуємо різні дизайни з урахуванням побажань клієнта та підбором
            цікавих рішень для каширування;
          </h4>
          <div class="card-def__img">
            <img src="./img/icons/advan_2.svg" alt="" />
          </div>
        </li>
        <li class="card-def">
          <p class="card-def__lead">Перевага 3</p>
          <h4 class="title4">
            Реалізовуємо якісне каширування, адже наше виробництво коробок
            застосовує високоточне обладнання та контроль якості від фахових
            спеціалістів
          </h4>
          <div class="card-def__img">
            <img src="./img/icons/advan_3.svg" alt="" />
          </div>
        </li>
        <li class="card-def">
          <p class="card-def__lead">Перевага 4</p>
          <h4 class="title4">
            Пропонуємо широкий асортимент дизайнерського паперу для каширування,
            щоб ви могли обрати бажаний колір та текстуру
          </h4>
          <div class="card-def__img">
            <img src="./img/icons/advan_4.svg" alt="" />
          </div>
        </li>
        <li class="card-def">
          <p class="card-def__lead">Перевага 5</p>
          <h4 class="title4">
            Виконуємо виготовлення без затримок – ви в обумовлені терміни
            отримаєте своє замовлення з доставкою у Львів, Дніпро, по Києву чи в
            будь-яке місто України і Європи
          </h4>
          <div class="card-def__img">
            <img src="./img/icons/advan_5.svg" alt="" />
          </div>
        </li>
        <li class="card-def card-red">
          <p class="card-def__lead">Безкоштовна консультація</p>
          <h4 class="title4">Виникли запитання?</h4>
          <button
            type="button"
            class="btn-alt openModal"
            data-id="consultModal"
          >
            Задати
          </button>
          <div class="card-def__img">
            <img src="./img/decor/advan_1.png" alt="" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
