<section class="service-faq faq pd1">
  <div class="faq__container">
    <div class="heading__sec">
      <h2 class="title2">
        Часті запитання<br />
        про каширування<br />
        коробок
      </h2>
    </div>

    <div class="faq__wrapp">
      <ul class="faq__list">
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">З якого паперу ви виконуєте каширування?</h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">
                Матеріали яких кольорів можна використати для каширування?
              </h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">Які коробки підходять для каширування?</h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">
                Чи можна виконати каширування на самозбірних коробках?
              </h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul class="faq__list">
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">
                Яких видів каширування можна обрати для коробки?
              </h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">Як відбувається каширування?</h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">
                Яких розмірів можуть бути кашировані коробки? 
              </h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="faq__quest">
              <h4 class="title4">Чи надійно тримаються склеєні матеріали?</h4>
            </div>
            <div class="ac-panel">
              <div class="faq__desc">
                <p>
                  Для виготовлення коробок застосовуємо якісні матеріали, які
                  проходять перевірку на відповідність ДСТУ. Це палітурний,
                  ламінований, крафтовий чи дизайнерський картон різної товщини
                  та кольорів.
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
