<section class="service-advan advantage prllx">
  <div class="advantage__wrapp">
    <div class="advantage__container">
      <div class="heading__sec">
        <div class="heading__title">
          <h2 class="title2">
            Наші переваги<br />
            як партнера<br />
            та виробника
          </h2>
        </div>
      </div>

      <ul class="advantage__cards prllx-list prllxT">
        <li class="card-def">
          <p class="card-def__lead">Перевага 1</p>
          <h4 class="title4">
            Забезпечуємо комплексне<br />
            виготовлення коробок з<br />
            виконанням друкарських<br />
            і післядрукарських послуг
          </h4>
          <div class="card-def__img">
            <img class="lazyload" data-src="./img/icons/ico_40.svg" alt="" />
          </div>
        </li>
        <li class="card-def">
          <p class="card-def__lead">Перевага 2</p>
          <h4 class="title4">
            Виконуємо різні дизайни<br />
            з урахуванням побажань<br />
            клієнта та підбором цікавих<br />
            рішень для каширування;
          </h4>
          <div class="card-def__img">
            <img class="lazyload" data-src="./img/icons/ico_5.svg" alt="" />
          </div>
        </li>
        <li class="card-def">
          <p class="card-def__lead">Перевага 3</p>
          <h4 class="title4">
            Реалізовуємо якісне<br />
            каширування, адже наше<br />
            виробництво коробок<br />
            застосовує високоточне<br />
            обладнання та контроль якості<br />
            від фахових спеціалістів
          </h4>
          <div class="card-def__img">
            <img class="lazyload" data-src="./img/icons/ico_36.svg" alt="" />
          </div>
        </li>
        <li class="card-def">
          <p class="card-def__lead">Перевага 4</p>
          <h4 class="title4">
            Пропонуємо широкий<br />
            асортимент дизайнерського<br />
            паперу для каширування, щоб<br />
            ви могли обрати бажаний колір<br />
            та текстуру
          </h4>
          <div class="card-def__img">
            <img class="lazyload" data-src="./img/icons/ico_32.svg" alt="" />
          </div>
        </li>
        <li class="card-def">
          <p class="card-def__lead">Перевага 5</p>
          <h4 class="title4">
            Виконуємо виготовлення без<br />
            затримок – ви в обумовлені<br />
            терміни отримаєте своє<br />
            замовлення з доставкою у Львів,<br />
            Дніпро, по Києву чи в будь-яке<br />
            місто України і Європи
          </h4>
          <div class="card-def__img">
            <img class="lazyload" data-src="./img/icons/ico_4.svg" alt="" />
          </div>
        </li>
        <li class="card-def card-red">
          <p class="card-def__lead">Безкоштовна консультація</p>
          <h4 class="title4">
            Виникли<br />
            запитання?
          </h4>
          <button
            type="button"
            class="btn-alt openModal"
            data-id="consultModal"
          >
            Задати
          </button>
          <div class="card-def__img">
            <img class="lazyload" data-src="./img/decor/advan_1.png" alt="" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
