<section class="service fullscreen halvscr">
  <div class="fullscreen__wrapp">
    <div class="fullscreen__container">
      <div class="fullscreen__body">
        <div class="breadcrumbs">
          <ul>
            <li><a href="./index.html">Головна</a></li>
            <li><a href="./services.html">Послуги</a></li>
            <li><span>Професійне каширування коробок</span></li>
          </ul>
        </div>

        <h1 class="title1">
          Професійне<br />
          каширування<br />
          коробок
        </h1>

        <div class="fullscreen__box">
          <div class="txt-def1">
            <p>
              Виконуємо професійне каширування картону<br />
              та виготовляємо міцні коробки у різних кольорах<br />
              і дизайнах під продукцію та подарунки
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="fullscreen__img no-select ibg">
      <img src="./img/content/hero_5.webp" alt="" />
    </div>
  </div>
</section>
